<%- include("../../partials/head.ejs") %>

<body id="page-top">
  <div id="wrapper">
    <%- include("../../partials/sidebar.ejs") %>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <%- include("../../partials/topbar.ejs") %>
        <div class="container-fluid">
          <h1 class="h3 mb-2 text-gray-800">Preferências do sistema</h1>
          <p class="mb-4">Configurar padrões de projetos e mais.</p>

          <form method="post">
            <!--card-->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Regras de projetos</h6>
              </div>
              <div class="card-body">
                <div class="col-md-6">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="basicDocs" id="basicDocs" <%-config.projectRules.needsBasicDocs ? 'checked' : '' %>>
                    <label class="form-check-label" for="basicDocs">
                      Exigir documentos básicos para finalizar projetos
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="basicPhotos" id="basicPhotos" <%-config.projectRules.needsBasicPhotos ? 'checked' : '' %>>
                    <label class="form-check-label" for="basicPhotos">
                      Exigir fotos básicas da composição do projeto para finalizar
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="funADMendProject" id="funADMendProject" <%-config.projectRules.onlyAdmEndProject ? 'checked' : '' %>>
                    <label class="form-check-label" for="funADMendProject">
                      Apenas um funcionário ADM pode finalizar projeto
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="fundADMacceptSurvey" id="fundADMacceptSurvey" <%-config.projectRules.onlyAdmAcceptSurvey ? 'checked' : '' %>>
                    <label class="form-check-label" for="fundADMacceptSurvey">
                      Apenas um funcionário ADM pode aceitar chamados
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="sticknotes" id="sticknotes" <%-config.projectRules.StickNotes ? 'checked' : '' %>>
                    <label class="form-check-label" for="sticknotes">
                      Lembretes
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="ProjectStatusReason" id="ProjectStatusReason" <%-config.projectRules.needsStatusReason ? 'checked' : '' %>>
                    <label class="form-check-label" for="ProjectStatusReason">
                      Exigir razão de status
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="notifications" id="notifications" <%-config.projectRules.Alerts ? 'checked' : '' %>>
                    <label class="form-check-label" for="notifications">
                      Enviar notificações de lembretes
                    </label>
                  </div>

                </div>
              </div>
            </div>
            <!--CARD -->

            <!--card-->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Widgets na tela inicial</h6>
              </div>
              <div class="card-body">
                <div class="col-md-6">


                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="mapWidget" id="mapWidget" <%-config.widgets.projectMaps ? 'checked' : '' %>>
                    <label class="form-check-label" for="mapWidget">
                      Mapa de projetos
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="growattWidgets" id="growattWidgets" <%-config.widgets.growatt ? 'checked' : '' %>>
                    <label class="form-check-label" for="growattWidgets">
                      Dados Growatt
                    </label>
                  </div>


                </div>
              </div>
            </div>
            <!--CARD -->
            <!--card-->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Login</h6>
              </div>
              <div class="card-body">
                <div class="col-md-6">
                  <p>Limitar login a horários específicos</p>
                  Das <input type="time" name="hourSpecified" id="hourSpecified" value="<%=config.login.hourSpecified[0]%>"> Até
                  <input type="time" name="hourSpecified" id="hourSpecified" value="<%=config.login.hourSpecified[1]%>">
                  <hr>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="loginAlert" id="loginAlert" <%-config.login.loginAlert ? 'checked' : '' %>>
                    <label class="form-check-label" for="loginAlert">
                      Enviar alerta de login fora dos horários.
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <!--CARD -->
            <button class="btn btn-primary" style="width: 100%;" type="submit">Salvar Configurações</button>
          </form>
        </div>
      </div>
      <%- include("../../partials/footer.ejs") %>
    </div>
  </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <%- include("../components/modal/logout.ejs") %>
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/js/sb-admin-2.min.js"></script>
</body>

</html>