<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; D | Walt 2022</span>
    </div>
  </div>
</footer>

<%- include("../pages/components/modal/logout.ejs") %>
  <%- include("../pages/components/modal/logs.ejs") %>
    <%- include("../pages/components/modal/notify.ejs") %>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <script src="/js/pwa.js"></script>
      <script src="/js/status.js"></script>
      <%if(message) {%>
        <script>
          swal("<%=message.title%>", "<%=message.description%>", "<%=message.type%>");
        </script>
        <%}%>