<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; D | Walt 2022</span>
    </div>
  </div>
</footer>

<%- include("../pages/components/modal/logout.ejs") %>
  <%- include("../pages/components/modal/logs.ejs") %>
    <%- include("../pages/components/modal/notify.ejs") %>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="/js/pwa.js"></script>
      <script src="/js/status.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>
      <script>
        
window.exportTableCSV = function(id, name) {
  const tabela = document.getElementById(id);
  let csv = '';

  // Percorrer as linhas da tabela
  for (let i = 1; i < tabela.rows.length; i++) {
    for (let j = 0; j < tabela.rows[i].cells.length; j++) {
      // Obter chave (cabeçalho)
      const chave = tabela.rows[0].cells[j].innerText.trim();
      // Obter valor (célula correspondente)
      const valor = tabela.rows[i].cells[j].innerText.trim();
      // Adicionar chave e valor no CSV
      csv += `${chave}: ${valor}\n`;
    }
    // Separar registros por uma linha em branco
    csv += '\n';
  }

  // Criar um link de download
  const link = document.createElement('a');
  link.href = 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv);
  link.target = '_blank';
  link.download = name + '.csv';
  link.click();
};

      </script>
      <% if (message) { %>
        <script>
          Swal.fire({
            title: "<%= message.title %>",
            html: `<p><%= message.description %></p>
                   <% if (message.buttons) { %>
                     <% message.buttons.forEach(function(button) { %>
                       <a href="<%= button.link %>" class="swal2-confirm swal2-styled" 
                          style="margin-right: 10px;">
                          <%= button.text %>
                       </a>
                     <% }); %>
                   <% } %>`,
            icon: "<%= message.type %>",
            showCancelButton: false,
            // showConfirmButton: false,
          });
        </script>
        <% } %>