<%- include("../../partials/head.ejs") %>

<body id="page-top">
  <div id="wrapper">
    <%- include("../../partials/sidebar.ejs") %>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <%- include("../../partials/topbar.ejs") %>
        <div class="container-fluid">
          <h1 class="h3 mb-2 text-gray-800">Configurar Projetos</h1>
          <p class="mb-4">Configurar padrões de projetos e mais.</p>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Regras de projetos</h6>
            </div>
            <div class="card-body">
              <div class="col-md-6">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="basicDocs" id="basicDocs" checked>
                  <label class="form-check-label" for="basicDocs">
                    Exigir documentos básicos para finalizar projetos
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="basicPhotos" id="basicPhotos" checked>
                  <label class="form-check-label" for="basicPhotos">
                    Exigir fotos básicas da composição do projeto para finalizar
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="funADMendProject" id="funADMendProject">
                  <label class="form-check-label" for="funADMendProject">
                    Apenas um funcionário ADM pode finalizar projeto
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="fundADMacceptSurvey" id="fundADMacceptSurvey">
                  <label class="form-check-label" for="fundADMacceptSurvey">
                    Apenas um funcionário ADM pode aceitar chamados
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="sticknotes" id="sticknotes">
                  <label class="form-check-label" for="sticknotes">
                    Lembretes
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="ProjectStatusReason" id="ProjectStatusReason" checked>
                  <label class="form-check-label" for="ProjectStatusReason">
                    Exigir razão de status
                  </label>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include("../../partials/footer.ejs") %>
    </div>
  </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <%- include("../components/modal/logout.ejs") %>
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/js/sb-admin-2.min.js"></script>
</body>

</html>