<%- include("../../partials/head.ejs") %>

<body id="page-top">
  <div id="wrapper">
    <%- include("../../partials/sidebar.ejs") %>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <%- include("../../partials/topbar.ejs") %>
        <div class="container-fluid">
          <h1 class="h3 mb-2 text-gray-800">Editando <%=project.apelidoProjeto%></h1>
          <p class="mb-4">Adicione projetos, gerencie-os pelos apps Cliente, Equipe e o site
            atual. Seu cliente e sua Equipe
            pode contribuir para a inserção dos dados.
            Adicione mais dados adicionais em formato de imagem utilizando os apps. Todos da sua
            equipe terão acesso aos projetos.
          </p>
          <form method="POST">
            <!-- Form Group (username)-->
            <b class="mb-4">Selecione o cliente</b>
            <div class="mb-3">
              <select class="form-control" name='customerID' id="customerID" required>
                <option>Nenhum selecionado</option>
                <% customers.forEach(c => { %>
                <option value="<%=c.key%>" <%- project.customerID === c.key ? 'selected' : '' %>><%=c.data.nomeComp%> - (<%=c.data.cpf%>)</option>
                <% }) %>
              </select>
            </div>

            <b class="mb-4">Dados Básicos</b>
            <div class="row gx-3 mb-3">
              <div class="col-md-6">
                <label class="small mb-1" for="username_growatt">Nome de usuário no sistema da Growatt (opcional)</label>
                <input name="username_growatt" class="form-control" id="username_growatt" type="text" placeholder="Nome de usuário único da planta.">
              </div>

              <div class="col-md-6">
                <label class="small mb-1" for="cod">Código do Produto</label>
                <input name="cod" class="form-control" id="cod" type="text" placeholder="00000-00" value="<%=project.cod%>">
              </div>
            </div>
            <div class="mb-3">
              <label class="small mb-1" for="endCompleto">Endereço da Unidade Consumidora</label>
              <input name="endCompleto" class="form-control" id="endCompleto" type="text" placeholder="Rua, bairro, número, complemento - Cidade / Estado - CEP" value="" value="<%=project.endCompleto%>">
            </div>
            <b class="mb-4">Dados para visualização (todos os apps)</b>
            <div class="row gx-3 mb-3">
              <div class="col-md-6">
                <label class="small mb-1" for="apelidoProjeto">Identificação do
                  Projeto</label>
                <input name="apelidoProjeto" class="form-control" id="apelidoProjeto" type="text" placeholder="Apelido do projeto" value="<%=project.apelidoProjeto%>" required>
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="category">Categoria: <b style="color: red">*</b></label>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="category" id="category" value="residencial" <%-project.category.toLowerCase() === 'residencial' ? "checked" : ''%>>
                  <label class="form-check-label" for="category">
                    Residencial
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="category" id="category" value="comercial" <%-project.category.toLowerCase() === 'comercial' ? "checked" : ''%>>
                  <label class="form-check-label" for="category">
                    Comercial
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="category" id="category" value="usina" <%-project.category.toLowerCase() === 'usina' ? "checked" : ''%>>
                  <label class="form-check-label" for="category">
                    Usina
                  </label>
                </div>

              </div>
              <!-- Form Group (last name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="kwp">kWp do Projeto</label>
                <input name="kwp" class="form-control" id="kwp" type="text" placeholder="000" value="<%=project.kwp%>" required>
              </div>

              <div class="col-md-6">
                <label class="small mb-1" for="Status">Status <b style="color: red">*</b></label>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1" value="dadosEntregue" <%-project.Status === 'dadosEntregue' ? "checked" : ''%>>
                  <label class="form-check-label" for="flexRadioDefault1">
                    Dados entregues
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1" value="protocolado" <%-project.Status === 'protocolado' ? "checked" : ''%>>
                  <label class="form-check-label" for="flexRadioDefault1">
                    Projeto Protocolado
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1" value="aprovado" <%-project.Status === 'aprovado' ? "checked" : ''%>>
                  <label class="form-check-label" for="flexRadioDefault1">
                    Projeto aprovado
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1" value="equipamentoEntregue" <%-project.Status === 'equipamentoEntregue' ? "checked" : ''%>>
                  <label class="form-check-label" for="flexRadioDefault1">
                    Equipamentos entregue
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1" value="concluido" <%-project.Status === 'concluido' ? "checked" : ''%>>
                  <label class="form-check-label" for="flexRadioDefault1">
                    Instalação concluída
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1" value="vistoriaSolicitada" <%-project.Status === 'vistoriaSolicitada' ? "checked" : ''%>>
                  <label class="form-check-label" for="flexRadioDefault1">
                    Vistoria solicitada
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1" value="vistoriaAprovada" <%-project.Status === 'vistoriaAprovada' ? checked : ''%>>
                  <label class="form-check-label" for="flexRadioDefault1">
                    Vistoria Aprovada
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1" value="finalizado" <%-project.Status === 'finalizado' ? "checked" : ''%>>
                  <label class="form-check-label" for="flexRadioDefault1">
                    Finalizado
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="RStatus">Razão do Status</label>
                <input name="RStatus" class="form-control" id="RStatus" type="text" placeholder="Estamos aguardando X documentação.">
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="coords">Coordenadas da unidade
                  consumidora</label>
                <input name="coords" class="form-control" id="coords" type="text" placeholder="-9.373395, -52.814905" value="<%=project.coords%>" required>
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="statusRastreio">Status de rastreio dos equipamentos<b style="color: red">*</b></label>
                <input name="statusRastreio" class="form-control" id="statusRastreio" type="text" value="<%=project.statusRastreio === undefined ? 'Rastreio indisponível no momento' : project.statusRastreio%>" required>
              </div>
            </div>
            <div class="row gx-3 mb-3" style="display: none;">
              <div class="col-md-6">
                <input name="business" class="form-control" type="text" value="<%=user.key%>" value="<%=project.business%>" required autocomplete="off" />
              </div>
            </div>
            <!-- Save changes button-->
            <button class="btn btn-primary" style="width: 100%;" type="submit">Atualizar
              Projeto</button>
          </form>
        </div>
      </div>
      <%- include("../../partials/footer.ejs") %>
    </div>
  </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <%- include("../components/modal/logout.ejs") %>
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/js/sb-admin-2.min.js"></script>

  
  <script type='text/javascript' src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
  <script>
    $(document).ready(function() {
      $(":input").inputmask();

      $("#kwp").inputmask({
        greedy: false,
        radixPoint: ",",
        groupSeparator: ",",
        alias: "numeric",
        autoGroup: true,
        digits: 2,
        digitsOptional: false,
        clearMaskOnLostFocus: false
      })
    })
  </script>
</body>

</html>