<%- include("../../partials/head.ejs") %>

  <body id="page-top">
    <div id="wrapper">
      <%- include("../../partials/sidebar.ejs") %>
        <div id="content-wrapper" class="d-flex flex-column">
          <div id="content">
            <%- include("../../partials/topbar.ejs") %>
              <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">Editando <%=project.apelidoProjeto%>
                </h1>
                <p class="mb-4">Adicione projetos, gerencie-os pelos apps Cliente, Equipe e o site
                  atual. Seu cliente e sua Equipe
                  pode contribuir para a inserção dos dados.
                  Adicione mais dados adicionais em formato de imagem utilizando os apps. Todos da sua
                  equipe terão acesso aos projetos.
                </p>
                <form method="POST">
                  <!-- Form Group (username)-->
                  <b class="mb-4">Selecione o cliente</b>
                  <div class="mb-3">
                    <select class="form-control" name='customerID' id="customerID" required>
                      <option>Nenhum selecionado</option>
                      <% customers.forEach(c=> { %>
                        <option value="<%=c.key%>" <%- project.customerID===c.key ? 'selected' : '' %>>
                          <%=c.data.nomeComp || c.data.nomeFantasia%> - (<%=c.data.cpf || c.data.cnpj%>)
                        </option>
                        <% }) %>
                    </select>
                  </div>

                  <b class="mb-4">Dados Básicos</b>
                  <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                      <label class="small mb-1" for="contractNumber">N° do Contrato</label>
                      <input name="contractNumber" class="form-control" id="contractNumber" type="text"
                        placeholder="00000-00"
                        value="<%=project.contractNumber === undefined ? '' : project.contractNumber%>">
                    </div>

                    <!-- <div class="col-md-6">
                      <label class="small mb-1" for="username_growatt">Nome da planta no sistema da Growatt
                        (opcional)</label>
                      <input name="username_growatt" class="form-control" id="username_growatt" type="text"
                        placeholder="Nome da planta.">
                    </div>-->

                    <!-- Vendedor -->
                    <div class="col-md-6">
                      <label class="small mb-1" for="seller">Vendedor</label>
                      <input name="seller" class="form-control" id="seller" type="text" placeholder="Nome do Vendedor"
                      value="<%=project.seller === undefined ? '' : project.seller%>"
                      >
                    </div>

                    <!-- Data do Contrato -->
                    <div class="col-md-6">
                      <label class="small mb-1" for="contractDate">Data do Contrato</label>
                      <input name="contractDate" class="form-control" id="contractDate" type="date"
                        placeholder="Data do Contrato"
                        value="<%=project.contractDate === undefined ? '' : project.contractDate%>"
                        >
                    </div>

                    <!-- Data de Pagamento -->
                    <div class="col-md-6">
                      <label class="small mb-1" for="paymentDate">Data de Pagamento</label>
                      <input name="paymentDate" class="form-control" id="paymentDate" type="date"
                        placeholder="Data de Pagamento"
                        value="<%=project.paymentDate === undefined ? '' : project.paymentDate%>">
                    </div>

                    <!-- Prazo -->
                    <div class="col-md-6">
                      <label class="small mb-1" for="projectDeadline">Prazo do Projeto <b
                          style="color: red">*</b></label>
                      <input name="projectDeadline" class="form-control" id="projectDeadline" type="date"
                        placeholder="Data para entrega"
                        value="<%=project.projectDeadline === undefined ? '' : project.projectDeadline%>"
                         required>
                    </div>

                  </div>

                  
                  <b class="mb-4">Endereço</b>

                  <div class="row gx-3 mb-3">

                    <div class="col-md-6">
                      <label class="small mb-1" for="zipcode">CEP <b style="color: red">*</b></label>
                      <input name="zipcode" class="form-control" id="zipcode" type="text" placeholder="CEP"
                        value="<%=project.zipcode || ''%>" required>
                      <small style="color:red">Preencha o CEP para autocompletar os dados.</small>
                    </div>

                    <div class="col-md-6">
                      <label class="small mb-1" for="street">Rua <b style="color: red">*</b></label>
                      <input name="street" class="form-control" id="street" type="text" placeholder="Rua"
                        value="<%=project.street || project.address || ''%>" required>
                    </div>
                    <div class="col-md-6">
                      <label class="small mb-1" for="neighborhood">Bairro <b style="color: red">*</b></label>
                      <input name="neighborhood" class="form-control" id="neighborhood" type="text" placeholder="Bairro"
                        value="<%=project.neighborhood || ''%>" required>

                    </div>
                    <div class="col-md-6">

                      <label class="small mb-1" for="number">Número <b style="color: red">*</b></label>
                      <input name="number" class="form-control" id="number" type="text" placeholder="Número"
                        value="<%=project.number || ''%>" required>
                    </div>
                    <div class="col-md-6">

                      <label class="small mb-1" for="complement">Complemento</label>
                      <input name="complement" class="form-control" id="complement" type="text"
                        placeholder="Complemento" value="<%=project.complement || ''%>">
                    </div>
                    <div class="col-md-6">
                      <label class="small mb-1" for="city">Cidade <b style="color: red">*</b></label>
                      <input name="city" class="form-control" id="city" type="text" placeholder="Cidade"
                        value="<%=project.city || ''%>" required>
                    </div>

                    <div class="col-md-6">
                      <label class="small mb-1" for="state">Estado <b style="color: red">*</b></label>
                      <input name="state" class="form-control" id="state" type="text" placeholder="Estado"
                        value="<%=project.state || ''%>" required>
                    </div>


                    <div class="col-md-6">
                      <label class="small mb-1" for="coords">Coordenadas da unidade
                        consumidora</label>
                      <input name="coords" class="form-control" id="coords" type="text"
                        placeholder="-9.373395, -52.814905" value="<%=project.coords%>" required>
                    </div>

                  </div>


                  <b class="mb-4">Dados para visualização (todos os apps)</b>
                  <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                      <label class="small mb-1" for="apelidoProjeto">Identificação do
                        Projeto</label>
                      <input name="apelidoProjeto" class="form-control" id="apelidoProjeto" type="text"
                        placeholder="Apelido do projeto" value="<%=project.apelidoProjeto%>" required>
                    </div>
                    <div class="col-md-6">
                      <label class="small mb-1" for="category">Categoria: <b style="color: red">*</b></label>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="category" id="category" value="residencial"
                          <%-project.category.toLowerCase()==='residencial' ? "checked" : '' %>>
                        <label class="form-check-label" for="category">
                          Residencial
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="category" id="category" value="comercial"
                          <%-project.category.toLowerCase()==='comercial' ? "checked" : '' %>>
                        <label class="form-check-label" for="category">
                          Comercial
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="category" id="category" value="industrial"
                          <%-project.category.toLowerCase()==='industrial' ? "checked" : '' %>>
                        <label class="form-check-label" for="category">
                          Industrial
                        </label>
                      </div>



                    </div>

                    <div class="col-md-6">
                      <label class="small mb-1" for="kwp">kWp do Projeto</label>
                      <input name="kwp" class="form-control" id="kwp" type="text" placeholder="000"
                        value="<%=project.kwp%>" required>
                    </div>

                    <div class="col-md-6">
                      <label class="small mb-1" for="Status">Status <b style="color: red">*</b></label>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1"
                          value="dadosEntregue" <%-project.Status==='dadosEntregue' ? "checked" : '' %>>
                        <label class="form-check-label" for="flexRadioDefault1">
                          Dados entregues
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1"
                          value="protocolado" <%-project.Status==='protocolado' ? "checked" : '' %>>
                        <label class="form-check-label" for="flexRadioDefault1">
                          Projeto Protocolado
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1"
                          value="aprovado" <%-project.Status==='aprovado' ? "checked" : '' %>>
                        <label class="form-check-label" for="flexRadioDefault1">
                          Projeto aprovado
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1"
                          value="equipamentoEntregue" <%-project.Status==='equipamentoEntregue' ? "checked" : '' %>>
                        <label class="form-check-label" for="flexRadioDefault1">
                          Equipamentos entregue
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1"
                          value="concluido" <%-project.Status==='concluido' ? "checked" : '' %>>
                        <label class="form-check-label" for="flexRadioDefault1">
                          Instalação concluída
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1"
                          value="vistoriaSolicitada" <%-project.Status==='vistoriaSolicitada' ? "checked" : '' %>>
                        <label class="form-check-label" for="flexRadioDefault1">
                          Vistoria solicitada
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1"
                          value="vistoriaAprovada" <%-project.Status==='vistoriaAprovada' ? 'checked' : '' %>>
                        <label class="form-check-label" for="flexRadioDefault1">
                          Vistoria Aprovada
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1"
                          value="finalizado" <%-project.Status==='finalizado' ? "checked" : '' %>>
                        <label class="form-check-label" for="flexRadioDefault1">
                          Finalizado
                        </label>
                      </div>
                    </div>
                  </div>


                  <b class="mb-4">Status</b>


                  <div class="row gx-3 mb-3">
                    <!-- Form Group (last name)-->



                    <div class="col-md-6">
                      <label class="small mb-1" for="RStatus">Razão do Status</label>
                      <input name="RStatus" class="form-control" id="RStatus" type="text"
                        placeholder="Estamos aguardando X documentação.">
                    </div>
                    <div class="col-md-6">
                      <label class="small mb-1" for="statusRastreio">Status de rastreio dos equipamentos<b
                          style="color: red">*</b></label>
                      <input name="statusRastreio" class="form-control" id="statusRastreio" type="text"
                        value="<%=project.statusRastreio === undefined ? 'Rastreio indisponível no momento' : project.statusRastreio%>"
                        required>
                    </div>

                    <div class="col-md-6">
                      <label class="small mb-1" for="projectObs">Observações do Projeto</label>
                      <input name="projectObs" class="form-control" id="projectObs" type="text"
                        value="<%=project.projectObs === undefined ? '' : project.projectObs%>">
                    </div>
                  </div>



                  <b class="mb-4">Detalhes do Projeto</b>

                  <div class="row gx-3 mb-3">
                    <!-- Kit -->
                    <div class="col-md-6">
                      <label class="small mb-1" for="kit">Kit do projeto</label>
                      <input name="kit" class="form-control" id="kit" type="text" placeholder="Informações do Kit"
                        value="<%=project.kit === undefined ? '' : project.kit%>">
                    </div>

                    <!-- Telhado -->
                    <div class="col-md-6">
                      <label class="small mb-1" for="roof">Tipo de Telhado</label>
                      <input name="roof" class="form-control" id="roof" type="text" placeholder="Fibrocimento"
                        value="<%=project.roof === undefined ? '' : project.roof%>">
                    </div>

                    <!-- Tipo de Venda -->
                    <div class="col-md-6">
                      <label class="small mb-1" for="saleType">Tipo de Venda</label>
                      <input name="saleType" class="form-control" id="saleType" type="text" placeholder="Tipo de Venda"
                        value="<%=project.saleType === undefined ? '' : project.saleType%>">
                    </div>

                    <!-- Quantidade de Painéis -->
                    <div class="col-md-6">
                      <label class="small mb-1" for="panelQuantity">Quantidade de Painéis </label>
                      <input name="panelQuantity" class="form-control" id="panelQuantity" type="number"
                        placeholder="Quantidade de Painéis"
                        value="<%=project.panelQuantity === undefined ? '' : project.panelQuantity%>">
                    </div>

                    <!-- Watts -->
                    <div class="col-md-6">
                      <label class="small mb-1" for="wattsPerPanel">Watts de cada painel</label>
                      <input name="wattsPerPanel" class="form-control" id="wattsPerPanel" type="number"
                        placeholder="Watts"
                        value="<%=project.wattsPerPanel === undefined ? '' : project.wattsPerPanel%>">
                    </div>
                  </div>


                  <div class="row gx-3 mb-3" style="display: none;">
                    <div class="col-md-6">
                      <input name="business" class="form-control" type="text" value="<%=user.key%>"
                        value="<%=project.business%>" required autocomplete="off" />
                    </div>
                  </div>
                  <!-- Save changes button-->
                  <button class="btn btn-primary" style="width: 100%;" type="submit">Atualizar
                    Projeto</button>
                </form>
              </div>
          </div>
          <%- include("../../partials/footer.ejs") %>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <%- include("../components/modal/logout.ejs") %>
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
      <script src="/js/sb-admin-2.min.js"></script>


      <script type='text/javascript'
        src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
      <script>
        $(document).ready(function () {
          $(":input").inputmask();

          $("#kwp").inputmask({
            greedy: false,
            radixPoint: ",",
            groupSeparator: ",",
            alias: "numeric",
            autoGroup: true,
            digits: 2,
            digitsOptional: false,
            clearMaskOnLostFocus: false
          })

          $("#zipcode").inputmask({
            mask: '99999-999',
            placeholder: '_',
            showMaskOnHover: false,
            showMaskOnFocus: false,
          });

          $("#number").inputmask({
            mask: '9999[9]',
            placeholder: '_',
            showMaskOnHover: false,
            showMaskOnFocus: false,
          });
        })

        document.getElementById('zipcode').addEventListener('blur', async function () {
          const cep = this.value.replace(/\D/g, ''); // Remove caracteres não numéricos
          if (cep.length !== 8) {
            alert('Por favor, insira um CEP válido.');
            return;
          }

          try {
            const response = await fetch(`https://viacep.com.br/ws/${cep}/json/`);
            if (!response.ok) {
              throw new Error('Erro na busca do CEP');
            }
            const data = await response.json();

            if (data.erro) {
              alert('CEP não encontrado. Preencha os campos manualmente.');
              //liberarEdicao(true); // Libera a edição dos campos
              return;
            }

            // Preenche os campos e desabilita para evitar edição
            document.getElementById('street').value = data.logradouro || '';
            document.getElementById('neighborhood').value = data.bairro || '';
            document.getElementById('city').value = data.localidade || '';
            document.getElementById('state').value = data.uf || '';

            // liberarEdicao(false); // Impede edição nos campos preenchidos
          } catch (error) {
            console.error('Erro ao buscar o CEP:', error);
            alert('Erro ao buscar o CEP. Tente novamente.');
          }
        });
      </script>
  </body>

  </html>