<%- include("../../partials/head.ejs") %>

<body id="page-top">
  <div id="wrapper">
    <%- include("../../partials/sidebar.ejs") %>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <%- include("../../partials/topbar.ejs") %>
        <div class="container-fluid">
          <h1 class="h3 mb-2 text-gray-800">Gerenciar Projetos</h1>
          <p class="mb-4">Altere os dados, adicione ou remova projetos.</p>

          <% if(projects.length === 0) { %>
            <div class="card shadow mb-4">
              <div class="card-body">
                <h1 class="h3 mb-2 text-gray-800">Sua empresa ainda não tem projetos registrados. Clique <a href="/dashboard/projetos/adicionar" style="height: 25px; width: 25px;" class="btn btn-info btn-circle"><i class="fas fa-plus"></i></a> para registrar</h1>
              </div>
            </div>
          <% } else { %>
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                  <h6 class="m-0 font-weight-bold text-primary">Projetos</h6>
                </div>
                <br>
                <a href="/dashboard/projetos/adicionar" style="width: 100%" class="btn btn-info">
                  <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                  </span>
                  <span class="text">Adicionar Projeto</span>
                </a>
              </div>
              <div class="card-body">
                <div class="row mb-3">
                  <!-- Select para as chaves -->
                  <div class="col-md-3">
                    <label for="filterKey">Filtrar por:</label>
                    <select id="filterKey" class="form-control">
                      <option value="apelidoProjeto">Identificação</option>
                      <option value="Status">Status</option>
                      <option value="kwp">Potência (kwp)</option>
                    </select>
                  </div>
                  <!-- Campo para o valor -->
                  <div class="col-md-6">
                    <label for="filterValue">Valor:</label>
                    <input type="text" id="filterValue" class="form-control" placeholder="Digite o valor do filtro...">
                  </div>
                  <!-- Botão para aplicar filtro -->
                  <div class="col-md-3 d-flex align-items-end">
                    <button id="applyFilter" class="btn btn-primary btn-block">Aplicar Filtro</button>
                  </div>
                </div>

                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Identificação</th>
                        <th>Cliente</th>
                        <th>Potência (kwp)</th>
                        <th>Status</th>
                        <th>Data de Registro</th>
                        <th>Ver/Editar</th>
                        <th>Deletar</th>
                      </tr>
                    </thead>
                    <tbody id="projectsTable">
                      <% if (projects !== undefined) { %>
                        <% projects.reverse().forEach((item, i) => { %>
                          <tr 
                            data-apelidoProjeto="<%= item.data.apelidoProjeto %>"
                            data-Status="<%= item.data.Status %>"
                            data-category="<%= item.data.category || '' %>"
                            data-kwp="<%= item.data.kwp || '' %>"
                            data-endCompleto="<%= item.data.endCompleto || '' %>"
                            data-city="<%= item.data.city || '' %>"
                            data-state="<%= item.data.state || '' %>">
                            <td><%= item.data.apelidoProjeto %></td>
                            <td>
                              <% if (item.data.customerID) { %>
                                <a href="/dashboard/clientes/visualizar/<%= item.data.customerID %>">
                                  <i class="fas fa-eye"></i> Ver dados
                                </a>
                              <% } else { %>
                                <a style="color:red;" href="/dashboard/projetos/editar/<%= item.key %>">
                                  <i class="fas fa-exclamation"></i> Cliente não associado
                                </a>
                              <% } %>
                            </td>
                            <td><%= item.data.kwp %></td>
                            <td><%= item.data.Status %></td>
                            <td>
                              <script>
                                document.write(moment("<%= item.data.createdAt %>").format("L LT"));
                              </script>
                            </td>
                            <td>
                              <a href="projetos/visualizar/<%= item.key %>" class="btn btn-info btn-circle">
                                <i class="fas fa-info-circle"></i>
                              </a>
                              <a href="projetos/editar/<%= item.key %>" class="btn btn-primary btn-circle">
                                <i class="fas fa-edit"></i>
                              </a>
                            </td>
                            <td>
                              <form method="post">
                                <input type="hidden" name="type" value="DELETE_PROJECT">
                                <input type="hidden" name="projectId" value="<%= item.key %>">
                                <button type="submit" class="btn btn-danger btn-circle">
                                  <i class="fas fa-trash"></i>
                                </button>
                              </form>
                            </td>
                          </tr>
                        <% }); %>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          <% } %>
        </div>
        <%- include("../../partials/footer.ejs") %>
      </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <%- include("../components/modal/logout.ejs") %>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>

    <script>
      // Inicializar DataTable
      $(document).ready(function() {
        var table = $('#dataTable').DataTable({
          language: {
            url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/pt-BR.json'
          }
        });

        // Aplicar filtro customizado no DataTable
        $('#applyFilter').click(function() {
          const filterKey = $('#filterKey').val(); // Chave do filtro
          const filterValue = $('#filterValue').val().trim().toLowerCase(); // Valor do filtro (case insensitive)

          table.column(0).search('').column(1).search('').column(2).search('').column(3).search('')
            .column(4).search('').column(5).search('').column(6).search(''); // Limpa qualquer filtro anterior

          // Ajusta as colunas de acordo com a chave do filtro
          if (filterKey === 'apelidoProjeto') {
            table.column(0).search(filterValue).draw();
          } else if (filterKey === 'Status') {
            table.column(3).search(filterValue).draw();
          } else if (filterKey === 'category') {
            table.column(2).search(filterValue).draw();
          } else if (filterKey === 'kwp') {
            table.column(2).search(filterValue).draw();
          } 
        });
      });
    </script>
  </body>

</html>
