<%- include("../../partials/head.ejs") %>

  <body id="page-top">
    <div id="wrapper">
      <%- include("../../partials/sidebar.ejs") %>
        <div id="content-wrapper" class="d-flex flex-column">
          <div id="content">
            <%- include("../../partials/topbar.ejs") %>
              <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">Novo projeto</h1>
                <p class="mb-4">Adicione projetos, gerencie-os pelos apps Cliente, Equipe e o site
                  atual. Seu cliente e sua Equipe
                  pode contribuir para a inserção dos dados.
                  Adicione mais dados adicionais em formato de imagem utilizando os apps. Todos da sua
                  equipe terão acesso aos projetos.
                </p>
                <form method="POST">
                  <!-- Form Group (username)-->
                  <b class="mb-4">Selecione o cliente <b style="color: red">*</b></b>
                  <div class="mb-3">
                    <select class="form-control chosen-select" name='customerID' id="customerID" required>
                      <option selected>Nenhum selecionado</option>
                      <% customers.forEach(c=> { %>
                        <option value="<%=c.key%>">
                          <%=c.data.nomeComp || c.data.nomeFantasia%> - (<%=c.data.cpf || c.data.cnpj%>)
                        </option>
                        <% }) %>
                    </select>
                  </div>

                 <!-- <b class="mb-4">Selecione o inversor <b style="color: red">*</b></b>
                  <div class="mb-3">
                    <select name="brand" class="form-control" required>
                      <option selected>Nenhum selecionado</option>
                      <option value="growatt">Growatt</option>
                      <option value="deye">Deye</option>
                      <option value="fronius">Fronius</option>
                      <option value="phb">Phb</option>
                      <option value="refusol">Refusol</option>
                      <option value="outro">Outro - Não Listado</option>
                    </select>
                  </div>-->

                  <b class="mb-4">Dados Básicos</b>
                  <!-- Form Row-->
                  <div class="row gx-3 mb-3">
                    <!-- Form Group (first name)-->
                    <div class="col-md-6">
                      <label class="small mb-1" for="contractNumber">N° do Contrato</label>
                      <input name="contractNumber" class="form-control" id="contractNumber" type="text" placeholder="00000-00">
                    </div>

                   <!-- <div class="col-md-6">
                      <label class="small mb-1" for="username_growatt">Nome da planta no sistema da Growatt
                        (opcional)</label>
                      <input name="username_growatt" class="form-control" id="username_growatt" type="text"
                        placeholder="Nome da planta.">
                    </div>-->

                     <!-- Vendedor -->
                     <div class="col-md-6">
                      <label class="small mb-1" for="seller">Vendedor</label>
                      <input name="seller" class="form-control" id="seller" type="text" placeholder="Nome do Vendedor">
                    </div>
                  
                    <!-- Data do Contrato -->
                    <div class="col-md-6">
                      <label class="small mb-1" for="contractDate">Data do Contrato</label>
                      <input name="contractDate" class="form-control" id="contractDate" type="date" placeholder="Data do Contrato">
                    </div>
                  
                    <!-- Data de Pagamento -->
                    <div class="col-md-6">
                      <label class="small mb-1" for="paymentDate">Data de Pagamento</label>
                      <input name="paymentDate" class="form-control" id="paymentDate" type="date" placeholder="Data de Pagamento">
                    </div>

                     <!-- Prazo -->
                     <div class="col-md-6">
                      <label class="small mb-1" for="projectDeadline">Prazo do Projeto <b
                        style="color: red">*</b></label>
                      <input name="projectDeadline" class="form-control" id="projectDeadline" type="date" placeholder="Data para entrega" required>
                    </div>


                  </div>

                  
                  <b class="mb-4">Endereço</b>

                  <div class="row gx-3 mb-3">

                    <div class="col-md-6">
                      <label class="small mb-1" for="zipcode">CEP <b style="color: red">*</b></label>
                      <input name="zipcode" class="form-control" id="zipcode" type="text" placeholder="CEP" required>
                      <small style="color:red">Preencha o CEP para autocompletar os dados.</small>
                    </div>

                    <div class="col-md-6">
                      <label class="small mb-1" for="street">Rua <b style="color: red">*</b></label>
                      <input name="street" class="form-control" id="street" type="text" placeholder="Rua" required>
                    </div>
                    <div class="col-md-6">
                      <label class="small mb-1" for="neighborhood">Bairro <b style="color: red">*</b></label>
                      <input name="neighborhood" class="form-control" id="neighborhood" type="text" placeholder="Bairro"
                        required>

                    </div>
                    <div class="col-md-6">

                      <label class="small mb-1" for="number">Número <b style="color: red">*</b></label>
                      <input name="number" class="form-control" id="number" type="text" placeholder="Número" required>
                    </div>
                    <div class="col-md-6">

                      <label class="small mb-1" for="complement">Complemento</label>
                      <input name="complement" class="form-control" id="complement" type="text"
                        placeholder="Complemento">
                    </div>
                    <div class="col-md-6">
                      <label class="small mb-1" for="city">Cidade <b style="color: red">*</b></label>
                      <input name="city" class="form-control" id="city" type="text" placeholder="Cidade" required>
                    </div>

                    <div class="col-md-6">
                      <label class="small mb-1" for="state">Estado <b style="color: red">*</b></label>
                      <input name="state" class="form-control" id="state" type="text" placeholder="Estado" required>
                    </div>

                    
                    <div class="col-md-6">
                      <label class="small mb-1" for="coords">Coordenadas da unidade
                        consumidora <b style="color: red">*</b></label>
                      <input name="coords" class="form-control" id="coords" type="text"
                        placeholder="-9.373395, -52.814905" required>
                    </div>

                  </div>





                  <b class="mb-4">Dados para visualização (todos os apps)</b>

                  <div class="row gx-3 mb-3">
                    <!-- Form Group (first name)-->
                    <div class="col-md-6">
                      <label class="small mb-1" for="apelidoProjeto">Identificação do
                        Projeto <b style="color: red">*</b></label>
                      <input name="apelidoProjeto" class="form-control" id="apelidoProjeto" type="text"
                        placeholder="Apelido do projeto" required>
                    </div>
                    <div class="col-md-6">
                      <label class="small mb-1" for="category">Categoria <b style="color: red">*</b></label>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="category" id="flexRadioDefault1"
                          value="residencial" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                          Residencial
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="category" id="flexRadioDefault2"
                          value="comercial">
                        <label class="form-check-label" for="flexRadioDefault2">
                          Comercial
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="category" id="flexRadioDefault2"
                          value="industrial">
                        <label class="form-check-label" for="flexRadioDefault2">
                          Industrial
                        </label>
                      </div>
                    </div>
                    <!-- Form Group (last name)-->
                    <div class="col-md-6">
                      <label class="small mb-1" for="kwp">kWp do Projeto <b style="color: red">*</b></label>
                      <input name="kwp" class="form-control" id="kwp" type="text" value="0,00" required>
                    </div>


                    <div class="col-md-6">
                      <label class="small mb-1" for="Status">Status <b style="color: red">*</b></label>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1"
                          value="dadosEntregue" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                          Dados entregues
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1"
                          value="protocolado">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Projeto Protocolado
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1"
                          value="aprovado">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Projeto aprovado
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1"
                          value="equipamentoEntregue">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Equipamentos entregue
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1"
                          value="concluido">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Instalação concluída
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1"
                          value="vistoriaSolicitada">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Vistoria solicitada
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1"
                          value="vistoriaAprovada">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Vistoria Aprovada
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="Status" id="flexRadioDefault1"
                          value="finalizado">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Finalizado
                        </label>
                      </div>
                    </div>

                    

                  </div>


                  
                  <b class="mb-4">Status</b>

                  <div class="row gx-3 mb-3">

                    <div class="col-md-6">
                      <label class="small mb-1" for="RStatus">Razão do Status</label>
                      <input name="RStatus" class="form-control" id="RStatus" type="text"
                        placeholder="Estamos aguardando X documentação.">
                    </div>
                    <div class="col-md-6">
                      <label class="small mb-1" for="statusRastreio">Status de rastreio dos equipamentos<b
                          style="color: red">*</b></label>
                      <input name="statusRastreio" class="form-control" id="statusRastreio" type="text"
                        value="Rastreio indisponível no momento" required>
                    </div>
                    <div class="col-md-6">
                      <label class="small mb-1" for="projectObs">Observações do Projeto</label>
                      <input name="projectObs" class="form-control" id="projectObs" type="text">
                    </div>

                  </div>

                  
                  <b class="mb-4">Detalhes do Projeto</b>

                  <div class="row gx-3 mb-3">
                    <!-- Kit -->
                    <div class="col-md-6">
                      <label class="small mb-1" for="kit">Kit do projeto</label>
                      <input name="kit" class="form-control" id="kit" type="text" placeholder="Informações do Kit">
                    </div>
                  
                    <!-- Telhado -->
                    <div class="col-md-6">
                      <label class="small mb-1" for="roof">Tipo de Telhado</label>
                      <input name="roof" class="form-control" id="roof" type="text" placeholder="Fibrocimento">
                    </div>
                  
                    <!-- Tipo de Venda -->
                    <div class="col-md-6">
                      <label class="small mb-1" for="saleType">Tipo de Venda</label>
                      <input name="saleType" class="form-control" id="saleType" type="text" placeholder="Tipo de Venda">
                    </div>
                  
                    <!-- Quantidade de Painéis -->
                    <div class="col-md-6">
                      <label class="small mb-1" for="panelQuantity">Quantidade de Painéis </label>
                      <input name="panelQuantity" class="form-control" id="panelQuantity" type="number" placeholder="Quantidade de Painéis" >
                    </div>
                  
                    <!-- Watts -->
                    <div class="col-md-6">
                      <label class="small mb-1" for="wattsPerPanel">Watts de cada painel</label>
                      <input name="wattsPerPanel" class="form-control" id="wattsPerPanel" type="number" placeholder="Watts">
                    </div>
                  </div>
                  
                  

                  <div class="row gx-3 mb-3" style="display: none;">
                    <div class="col-md-6">
                      <input name="business" class="form-control" type="text" value="<%=user.key%>" required
                        autocomplete="off" />
                    </div>
                  </div>


                  <!-- Save changes button-->
                  <button class="btn btn-primary" style="width: 100%;" type="submit">Registrar
                    Projeto</button>
                </form>
              </div>
          </div>
          <%- include("../../partials/footer.ejs") %>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <%- include("../components/modal/logout.ejs") %>
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
      <script src="/js/sb-admin-2.min.js"></script>

      <script src="/vendor/chosen/chosen.jquery.min.js"></script>


      <script type='text/javascript'
        src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
      <script>
        $(document).ready(function () {
          $(":input").inputmask();

          $("#kwp").inputmask({
            greedy: false,
            radixPoint: ",",
            groupSeparator: ",",
            alias: "numeric",
            autoGroup: true,
            digits: 2,
            digitsOptional: false,
            clearMaskOnLostFocus: false
          })
        })
      </script>

      <script>
        $(".chosen-select").chosen({ no_results_text: "Cliente não encontrado!" }); 
      </script>


      <script>
        function fetchEndereco(customerID) {
          const url = '/api/v1/customer/' + customerID;

          axios.get(url)
            .then(function (response) {
              document.getElementById('zipcode').value = response.data.zipcode;
              document.getElementById('street').value = response.data.street;
              document.getElementById('neighborhood').value = response.data.neighborhood;
              document.getElementById('number').value = response.data.number;
              document.getElementById('complement').value = response.data.complement;
              document.getElementById('city').value = response.data.city;
              document.getElementById('state').value = response.data.state;
            })
            .catch(function (error) {
              console.error('Erro ao buscar o endereço:', error);
            });
        }

        $(".chosen-select").chosen();

        $("#customerID").on("change", function () {
          const customerID = this.value;

          if (customerID !== 'Nenhum selecionado') {
            fetchEndereco(customerID);
          } else {
            document.getElementById('endCompleto').value = '';
          }
        });


        $(document).ready(function () {
          $(":input").inputmask();

          $("#zipcode").inputmask({
            mask: '99999-999',
            placeholder: '_',
            showMaskOnHover: false,
            showMaskOnFocus: false,
          });

          $("#number").inputmask({
            mask: '9999[9]',
            placeholder: '_',
            showMaskOnHover: false,
            showMaskOnFocus: false,
          });
        })


        document.getElementById('zipcode').addEventListener('blur', async function () {
          const cep = this.value.replace(/\D/g, ''); // Remove caracteres não numéricos
          if (cep.length !== 8) {
            alert('Por favor, insira um CEP válido.');
            return;
          }

          try {
            const response = await fetch(`https://viacep.com.br/ws/${cep}/json/`);
            if (!response.ok) {
              throw new Error('Erro na busca do CEP');
            }
            const data = await response.json();

            if (data.erro) {
              alert('CEP não encontrado. Preencha os campos manualmente.');
              //liberarEdicao(true); // Libera a edição dos campos
              return;
            }

            // Preenche os campos e desabilita para evitar edição
            document.getElementById('street').value = data.logradouro || '';
            document.getElementById('neighborhood').value = data.bairro || '';
            document.getElementById('city').value = data.localidade || '';
            document.getElementById('state').value = data.uf || '';

            // liberarEdicao(false); // Impede edição nos campos preenchidos
          } catch (error) {
            console.error('Erro ao buscar o CEP:', error);
            alert('Erro ao buscar o CEP. Tente novamente.');
          }
        });

        // Libera ou bloqueia edição dos campos
        function liberarEdicao(isEditable) {
          const fields = ['street', 'neighborhood', 'city', 'state'];
          fields.forEach((field) => {
            document.getElementById(field).disabled = !isEditable && document.getElementById(field).value !== '';
          });
        }

        document.addEventListener("DOMContentLoaded", function () {
    const deadlineInput = document.getElementById("projectDeadline");
    const today = new Date();
    const deadlineDate = new Date(today);
    deadlineDate.setDate(today.getDate() + 90); // Adiciona 90 dias

    // Converte a data para o formato "YYYY-MM-DD" para o input de tipo "date"
    const formattedDate = deadlineDate.toISOString().split("T")[0];
    deadlineInput.value = formattedDate;
  });
      </script>


  </body>

  </html>