<%- include("../../partials/head.ejs") %>

<body id="page-top">
  <div id="wrapper">
    <%- include("../../partials/sidebar.ejs") %>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <%- include("../../partials/topbar.ejs") %>
        <div class="container-fluid">
          <h1 class="h3 mb-2 text-gray-800">Propriedades de <%= project.apelidoProjeto %>
          </h1>
          <p class="mb-4">Visualização de dados, para editar retorne a página principal de
            projetos.</p>
          <div class="card shadow mb-4">
            <div class="card-body">
              <h1 class="h3 mb-2 text-gray-800">Resumo
              </h1>
              <div class="row gx-3 mb-3">
                <div class="col-md-3">
                  <b> <i class="fas fa-info-circle"></i> Status</b>
                  <p>
                    <%=project.Status%> - <%-project.RStatus === '' ? '<b style="color: red;">Não provido</b>' : `${project.RStatus}` %>
                  </p>
                </div>
                <div class="col-md-3">
                  <b> <i class="fas fa-truck"></i> Status de Rastreio</b>
                  <p>
                    <%-project.statusRastreio === '' || project.statusRastreio === undefined ? '<b style="color: red;">Não provido</b>' : `${project.statusRastreio}` %>
                  </p>
                </div>
                <div class="col-md-3">
                  <b><i class="fas fa-bolt"></i> kWp</b>
                  <p>
                    <%-project.kwp === '' ? '<b style="color: red;">Não provido</b>' : `${project.kwp}` %>
                  </p>

                </div>
                <div class="col-md-3">
                  <b><i class="fas fa-map"></i> Coordenadas</b>
                  <p>
                    <%=project.coords%>
                  </p>
                </div>
                <div class="col-md-3">
                  <b>Código do Gerador</b>
                  <p>
                    <%-project.cod === '' ? '<b style="color: red;">Não provido</b>' : `${project.cod}` %>
                  </p>
                </div>
                <div class="col-md-3">
                  <b>Usuário Growatt</b>
                  <p>
                    <%-project.username_growatt === '' ? '<b style="color: red;">Não provido</b>' : `${project.username_growatt}` %>
                  </p>
                </div>
              </div>
              <h1 class="h3 mb-2 text-gray-800">Imagens
              </h1>
              <% if(project.photos) { %>
              <div class="slider">
                <% photos.forEach(item=> { %>
                <div><img style="height: 100%; width: 100%;" src="<%=item.data.base64%>"></div>
                <% }) %>
              </div>
              <% } else { %>
              <b> <i class="fas fa-info-circle"></i> Projeto não possui fotos</b>
              <% } %>
              <h1 class="h3 mb-2 text-gray-800">Dados do Cliente
              </h1>
              <div class="row gx-3 mb-3">
                <div class="col-md-3">
                  <b>Nome Completo</b>
                  <p>
                    <%-project.nomeComp === '' ? '<b style="color: red;">Não provido</b>' : `${project.nomeComp}` %>
                  </p>
                </div>
                <div class="col-md-3">
                  <b>CPF</b>
                  <p>
                    <%-project.cpf === '' ? '<b style="color: red;">Não provido</b>' : `${project.cpf}` %>
                  </p>
                </div>
                <div class="col-md-3">
                  <b>RG</b>
                  <p>
                    <%-project.rg === '' ? '<b style="color: red;">Não provido</b>' : `${project.rg}` %>

                  </p>
                </div>
                <div class="col-md-3">
                  <b>Data de Nascimento</b>
                  <p>
                    <% if(project.dataNasc === '') { %>
                    <b style="color: red;">Não provido</b>
                    <% } else { %>
                    <%=project.dataNasc.split('-')[2]%>/
                    <%=project.dataNasc.split('-')[1]%>/
                    <%=project.dataNasc.split('-')[0]%>
                    <%}%>
                  </p>
                </div>
                <div class="col-md-3">
                  <b>Sexo</b>
                  <p>
                    <%-project.sexo === '' ? '<b style="color: red;">Não provido</b>' : `${project.sexo}` %>
                  </p>
                </div>

                <div class="col-md-3">
                  <b>Estado Civil</b>
                  <p>
                    <%-project.estadoCivil === '' ? '<b style="color: red;">Não provido</b>' : `${project.estadoCivil}` %>
                  </p>
                </div>

                <div class="col-md-3">
                  <b>Nome da Mãe</b>
                  <p>
                    <%-project.nomeMae === '' ? '<b style="color: red;">Não provido</b>' : `${project.nomeMae}` %>
                  </p>
                </div>

                <div class="col-md-3">
                  <b>E-mail</b>
                  <p>
                    <%-project.email === '' ? '<b style="color: red;">Não provido</b>' : `${project.email}` %>
                  </p>
                </div>

                <div class="col-md-3">
                  <b>Celular</b>
                  <p>
                    <%-project.celular === '' ? '<b style="color: red;">Não provido</b>' : `${project.celular}` %>
                  </p>
                </div>
                <div class="col-md-3">
                  <b>Endereço Completo</b>
                  <p>
                    <%-project.endCompleto === '' ? '<b style="color: red;">Não provido</b>' : `${project.endCompleto}` %>
                  </p>
                </div>
                <div class="col-md-3">
                  <b>Profissão</b>
                  <p>
                    <%-project.profissao === '' ? '<b style="color: red;">Não provido</b>' : `${project.profissao}` %>
                  </p>
                </div>
                <div class="col-md-3">
                  <b>Ocupação</b>
                  <p>
                    <%-project.ocupacao === '' ? '<b style="color: red;">Não provido</b>' : `${project.ocupacao}` %>
                  </p>
                </div>
                <div class="col-md-3">
                  <b>Renda</b>
                  <p>
                    <%-project.renda === '' ? '<b style="color: red;">Não provido</b>' : `${project.renda}` %>
                  </p>
                </div>
                <div class="col-md-3">
                  <b>Patrimônio</b>
                  <p>
                    <%-project.patrimonio === '' ? '<b style="color: red;">Não provido</b>' : `${project.patrimonio}` %>
                  </p>
                </div>
                <div class="col-md-3">
                  <b>Atuando há</b>
                  <p>
                    <% if(project.anos === '' && project.meses === '') { %>
                    <b style="color: red;">Não provido</b>
                    <% } else { %>
                    <%=project.anos%> anos e <%=project.meses%> meses.
                    <%}%>
                  </p>
                </div>
              </div>
              <h1 class="h3 mb-2 text-gray-800">Documentos <a href="#" data-toggle="modal" data-target="#addDocument" style="height: 25px; width: 25px;" class="btn btn-info btn-circle">
                  <i class="fas fa-plus"></i>
                </a>
              </h1>
              <div class="row gx-3 mb-3" id="documentos">
                <% if(documents.length !==0) { %>
                    <% documents.forEach(i=> { %>
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                              <%=i.data.documentName%>
                            </div>
                            <div class='row' style="margin-left: 0px">
                               <a download="<%=i.data.documentName%>.pdf" target="_blank" href="<%=i.data.documentURL%>" class="btn btn-dark">
                                <span class="text"> <i class="fas fa-eye"></i></span>
                              </a>
                              <form method="post">
                                <input type="text" name="type" value="DELETE_DOCUMENT" style="display: none;">
                                <input type="text" name="documentId" value="<%=i.key%>" style="display: none;">
                                <input type="text" name="documentName" value="<%=i.data.documentName%>" style="display: none;">
                                <button class="btn btn-danger" style="margin-left: 10px;" type="submit">
                                  <i class="fas fa-trash"></i></button>
                              </form>
                            </div>
                          </div>
                          
                          <div class="col-auto">
                            <i class="fas fa-file fa-2x text-gray-300"></i>
                          </div>
                        </div>
                        
                            <small><script>
                    document.write(moment("<%=i.data.createdAt%>").format("L LT"));
                  </script></small>
                      </div>
                    </div>
                  </div>
                  <% }) %>
                </div>
                <%} else {%>
                <b> <i class="fas fa-info-circle"></i> Sem
                  documentos</b>
              </div>
              <% } %>
              <h1 class="h3 mb-2 text-gray-800">Mapa
              </h1>
              <div class="row gx-3 mb-3">
                <div class="mapa" id="mapa" style="width: 100%; height: 400px;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include("../../partials/footer.ejs") %>
    </div>
  </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <%- include("../components/modal/logout.ejs") %>
  <%- include("./components/modal/newDocument.ejs") %>
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/vendor/slick-master/slick/slick.js"></script>
  <script src="/js/sb-admin-2.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
  <script>
    $(document).ready(function() {
      $('.slider').slick({
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 4,
        speed: 300,
        adaptiveHeight: true,
        autoplay: true,
        autoplaySpeed: 2000,
      });
    });

    let map = L.map('mapa').setView([<%=project.coords.split(",")[0] %>, <%=project.coords.split(",")[1] %>], 15);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '© OpenStreetMap contributors'
    }).addTo(map);
    let LeafIcon = L.Icon.extend({
      options: {
        iconSize: [60, 60],
      }
    });
    let systemIcon = new LeafIcon({
      iconUrl: 'https://static.wixstatic.com/media/2f7194_fa185c61f22e43f193b873822dec1beb~mv2.png/v1/fill/w_426,h_410,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Placa-Painel-Solar.png'
    });

    L.marker([<%=project.coords.split(",")[0] %>, <%=project.coords.split(",")[1] %>], {
      icon: systemIcon
    }).bindPopup('<%=project.apelidoProjeto%>').addTo(map);
  </script>
</body>

</html>