<%- include("../../partials/head.ejs") %>

<body id="page-top">
  <div id="wrapper">
    <%- include("../../partials/sidebar.ejs") %>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <%- include("../../partials/topbar.ejs") %>
        <div class="container-fluid">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <% if(user.data.tokenGrowatt) { %>
            <form method="post">
              <input type="text" name="type" value="RELOAD_GROWATT" style="display: none;">
              <input type="text" name="userID" value="<%=user.key%>" style="display: none;">
              <input type="text" name="token" value="<%=user.data.tokenGrowatt%>" style="display: none;">

              <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-download fa-sm text-white-50"></i>
                Atualizar dados pela Growatt
              </button>
            </form>

            <% } else { %>
            <a href="/conta" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Adicionar TOKEN Growatt</a>
            <%}%>      
                                </div>
 <% if(user.data.tokenGrowatt) { %>
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <p>Última vez que os dados da Growatt foram carregados: <%= user.data.tokenTimestamp === '' ||  user.data.tokenTimestamp === null ||  user.data.tokenTimestamp === undefined ? "Não coletado" : user.data.tokenTimestamp %></p>
            </div>
            <% } %>

            <div class="row">
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          Projetos Registrados</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          <%=projects.length%>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-solar-panel fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          Clientes Registrados</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          <%=customers.length%>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-users fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          Funcionários Registrados</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          <%=staffs.length%>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-users fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                          Chamados pendentes</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          <%=surveys.filter(i => !i.data.finished && !i.data.accepted).length%>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-exclamation fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                          Chamados em execução</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          <%=surveys.filter(i => !i.data.finished && i.data.accepted).length%>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-exclamation fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                          Reclamações</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          <%=complaints.length%>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-exclamation fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Gestão de Empresas</h6>
                </div>
                <div class="card-body">
                  <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/undraw_posting_photo.svg" alt="...">
                  </div>
                  <p>Estamos arduamente trabalhando no desenvolvimento das aplicações e com
                    uma qualidade sem igual para fornecer elementos e gestão de qualidade
                    para sua empresa. Baixe nossos aplicativos e sempre realize os registros
                    necessários para ter uma boa experiência com o serviço.</p>
                  <a target="_blank" rel="nofollow" href="https://www.dlwalt.com/">D | Walt
                    site raíz &rarr;</a>
                </div>
              </div>

            </div>

          </div>
        </div>
        <%- include("../../partials/footer.ejs") %>
      </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <%- include("../components/modal/logout.ejs") %>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
</body>

</html>