<%- include("../../../partials/head.ejs") %>

    <body id="page-top">
        <div id="wrapper">
            <%- include("../../../partials/sidebar.ejs") %>
                <div id="content-wrapper" class="d-flex flex-column">
                    <div id="content">
                        <%- include("../../../partials/topbar.ejs") %>
                            <div class="container-fluid">
                                <h1 class="h3 mb-2 text-gray-800">Notificações</h1>
                                <p class="mb-4">Todas as notificações recebidas</p>

                                <div class="card shadow mb-4">


                                    <div class="card-body">
                                        <% if(notifications && notifications.length !==0) {%>
                                            <%notifications.forEach((not, i)=> {%>

                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    <div class="mr-3">
                                                        <div class="icon-circle bg-<%=not.data.style%>">
                                                            <i class="<%=not.data.icon%> text-white"></i>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="small text-gray-500">
                                                            <script>
                                                                document.write(moment("<%=not.data.createAt%>").fromNow());
                                                            </script>
                                                        </div>
                                                        <span class="font-weight-bold">
                                                            <%=not.data.message%>
                                                        </span>
                                                    </div>
                                                </a>

                                                <hr>

                                                <%})%>
                                                    <%} %>
                                    </div>

                                </div>


                            </div>
                    </div>
                    <%- include("../../../partials/footer.ejs") %>
                </div>
        </div>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <%- include("../../components/modal/logout.ejs") %>
            <script src="/vendor/jquery/jquery.min.js"></script>
            <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
            <script src="/js/sb-admin-2.min.js"></script>
    </body>

    </html>