<%- include("../../partials/head.ejs") %>

    <body id="page-top">
        <div id="wrapper">
            <%- include("../../partials/sidebar.ejs") %>
                <div id="content-wrapper" class="d-flex flex-column">
                    <div id="content">
                        <%- include("../../partials/topbar.ejs") %>
                            <div class="container-fluid">
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h1 class="h3 mb-0 text-gray-800">Painel Administração</h1>
                                    <a href="#" data-toggle="modal"
                                    data-target="#businessNotify"
                                        class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                        <i class="fas fa-bell"></i>
                                        Nova notificação para empresas
                                    </a>
                                </div>

                                <div class="row">
                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-primary shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                            Terceirizados total</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                            <%= projouts.length %>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-info fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-danger shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                            Terceirizados pendentes</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                            <%= projouts.filter(pj=> pj.data.onRevision).length %>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-exclamation fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-success shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Terceirizados Finalizados</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                            <%= projouts.filter(pj=> pj.data.ended).length %>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-info fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-primary shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                            Empresas registradas</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                            <%= overview.businessLength %>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-info fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 mb-4">
                                            <div class="card shadow mb-4">
                                                <div class="card-header py-3">
                                                    <h6 class="m-0 font-weight-bold text-primary">Configurações do
                                                        Connect</h6>
                                                </div>
                                                <div class="card-body">
                                                    <div id="normal">
                                                        <p>Valor atual da mensalidade: <b id="valueSubs">R$ <%=
                                                                    subscriptionValue %></b>
                                                        </p>
                                                        <button onclick="showEditValue()" class="btn btn-primary">
                                                            Editar valor
                                                            <i class="far fa-edit"></i>
                                                        </button>
                                                    </div>
                                                    <div id="onEdit" style="display:none">
                                                        <p>Valor atual da mensalidade:</p>
                                                        <div class="mb-3">
                                                            <input class="form-control" id="newValue" type="text">
                                                        </div>
                                                        <button onclick="cancelEdit()" class="btn btn-secondary">
                                                            Cancelar
                                                            <i class="far fa-x"></i>
                                                        </button>
                                                        <button onclick="confirmEdit()" class="btn btn-primary">
                                                            Atualizar
                                                            <i class="fas fa-paper-plane"></i>
                                                        </button>
                                                    </div>

                                                    <p style="margin-left: 800px"></p>

                                                    <script>
                                                        const editView = document.getElementById("onEdit");
                                                        const normal = document.getElementById("normal");

                                                        function showEditValue() {
                                                            editView.style.display = 'block';
                                                            normal.style.display = 'none';
                                                        }
                                                        function confirmEdit() {
                                                            const newValue = document.getElementById("newValue").value;
                                                            normal.style.display = 'block';
                                                            editView.style.display = 'none';
                                                            document.getElementById('valueSubs').innerText = `R$ ${newValue}`

                                                            axios.post('/api/v1/updateSubscriptionValue', {
                                                                newValue,
                                                                key: '<%=user.key%>'
                                                            }).then(r => {
                                                                console.log(r);
                                                                if (r.status === 200) {
                                                                    swal("Assinatura", "Atualização do valor de assinatura bem sucedido para R$" + newValue, "success");
                                                                } else {
                                                                    swal("Erro", "Ocorreu um erro durante a atualização da assinatura.", "error");
                                                                }

                                                            })
                                                        }

                                                        function cancelEdit() {
                                                            normal.style.display = 'block';
                                                            editView.style.display = 'none';
                                                        }
                                                    </script>
                                                </div>
                                            </div>

                                            <div class="card shadow mb-4">
                                                <div class="card-header py-3">
                                                    <h6 class="m-0 font-weight-bold text-primary">Empresas registradas
                                                    </h6>
                                                </div>
                                                <div class="card-body">

                                                    <div class="table-responsive">
                                                        <table class="table table-bordered" id="dataTable" width="100%"
                                                            cellspacing="0">
                                                            <thead>
                                                                <tr>
                                                                    <th>Identificação</th>
                                                                    <th>E-mail</th>
                                                                    <th>Pagamento</th>
                                                                    <th>Botões</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <%allBusiness.forEach(b=> {%>
                                                                    <tr>
                                                                        <td>
                                                                            <%=b.data.info.documents.nome_fantasia%>
                                                                        </td>
                                                                        <td>
                                                                            <%=b.data.info.email%>
                                                                        </td>
                                                                        <td>
                                                                            <% if(b.data.info.acessConnect) {%>
                                                                                <div class="text-center"
                                                                                    style="background-color: green; border-radius: 40px; "
                                                                                    data-toggle="tooltip"
                                                                                    title="Em dia">
                                                                                    <p style="font-size: 20px"><i
                                                                                            class="far fa-check-circle"
                                                                                            style="color: #ffffff;"></i>
                                                                                    </p>
                                                                                </div>
                                                                                <%} else {%>
                                                                                    <div class="text-center"
                                                                                        style="background-color: red; border-radius: 40px; "
                                                                                        data-toggle="tooltip"
                                                                                        title="Vencido">
                                                                                        <p style="font-size: 20px"><i
                                                                                                class="fas fa-exclamation-circle"
                                                                                                style="color: #ffffff;"></i>
                                                                                        </p>
                                                                                    </div>
                                                                                    <%}%>

                                                                        </td>
                                                                        <td>
                                                                            <a href="/dlwalt/empresa/<%=b.key%>"
                                                                                class="btn btn-primary">
                                                                                <i class="fas fa-eye"></i>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                    <%})%>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <small>Visualização rápida e detalhada das empresas registradas no
                                                        Connect</small>
                                                </div>
                                            </div>

                                            <div class="card shadow mb-4">
                                                <div class="card-header py-3">
                                                    <h6 class="m-0 font-weight-bold text-primary">Avisos ao
                                                        administrador do Connect</h6>
                                                </div>
                                                <div class="card-body">
                                                    <div class="text-center">
                                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4"
                                                            style="width: 25rem;" src="img/undraw_posting_photo.svg"
                                                            alt="...">
                                                    </div>
                                                    <p>Gestão de pagamentos do Connect deve ser realizada no banco
                                                        <b>ASAAS</b>, bem como alterações de valores
                                                        de clientes já registrados e outras alterações de dados. O
                                                        sistema
                                                        tem integração ao banco e se for solicitado, poderá conter essa
                                                        gestão
                                                        integrada.
                                                    </p>
                                                    <a target="_blank" rel="noopener noreferrer" rel="nofollow"
                                                        href="https://wa.me/+556892402096/">Suporte</a>
                                                </div>
                                            </div>

                                        </div>
                                        <!--ANOTER SIDE-->
                                        <div class="col-lg-6 mb-4">
                                            <div class="card shadow mb-4">
                                                <div class="card-header py-3">
                                                    <h6 class="m-0 font-weight-bold text-primary">Projetos terceirizados
                                                    </h6>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered" id="dataTable" width="100%"
                                                            cellspacing="0">
                                                            <thead>
                                                                <tr>
                                                                    <th>Identificação</th>
                                                                    <th>Status</th>
                                                                    <th>Obs</th>
                                                                    <th>Criação</th>
                                                                    <th>Ações</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% projouts.forEach(pj=> { %>
                                                                    <tr>
                                                                        <td>
                                                                            <%= pj.data.project.name %>
                                                                        </td>
                                                                        <td>
                                                                            <span class="badge badge-secondary"><%= pj.data.status %></span>
                                                                        </td>
                                                                        <td>
                                                                            <%= pj.data.obs === '' ? 'Nenhuma observação' : pj.data.obs %>
                                                                        </td>
                                                                        <td>
                                                                            <script>
                                                                                document.write(moment("<%=pj.data.createdAt%>").fromNow());
                                                                            </script>
                                                                        </td>
                                                                        <td>
                                                                            <a href="dlwalt/visualizar/<%= pj.key %>" class="btn btn-info btn-circle">
                                                                                <i class="fas fa-plus"></i>
                                                                              </a>
                                                                        </td>
                                                                    </tr>
                                                                    <% }); %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                    </div>
                    <%- include("../../partials/footer.ejs") %>
                </div>
        </div>
        <%- include("./components/modals/businessNotify.ejs") %>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/js/sb-admin-2.min.js"></script>


        <script type='text/javascript'
            src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>

        <%if(message) {%>
            <script>
                swal("<%=message.title%>", "<%=message.description%>", "<%=message.type%>");
            </script>
            <%}%>

                <script>
                    $(function () {
                        $('[data-toggle="tooltip"]').tooltip()
                    })
                </script>
                <script>
                    $(document).ready(function () {
                        $("#newValue").inputmask({
                            mask: '999.99',
                            placeholder: '$',
                            showMaskOnHover: false,
                            showMaskOnFocus: false,
                        })
                    })
                </script>

    </body>

    </html>