<%- include("../../partials/head.ejs") %>

    <body id="page-top">
        <div id="wrapper">
            <%- include("../../partials/sidebar.ejs") %>
                <div id="content-wrapper" class="d-flex flex-column">
                    <div id="content">
                        <%- include("../../partials/topbar.ejs") %>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xl-4">
                                        <!-- Profile picture card-->
                                        <div class="card mb-4 mb-xl-0">
                                            <div class="card-header">Logo da empresa</div>
                                            <div class="card-body text-center">
                                                <!-- Profile picture image-->
                                                <img src="<%=user.data.profile.logo%>" id="logoPreview" width="200"
                                                    height="200" class="rounded mx-auto d-block" alt="Prévia da logo">
                                                <div class="custom-file">


                                                    <input type="file" onchange="previewFile()"
                                                        class="custom-file-input" id="logoInput" required
                                                        accept="image/png, image/jpg">
                                                    <label class="custom-file-label" id="labelEnd" for="logoPreview"
                                                        data-browse="Procurar arquivo">Logotipo da empresa em PNG,
                                                        recomendado 400x400, não maior que 5mb</label>

                                                </div>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="card mb-4 mb-xl-0">
                                            <div class="card-header">Assinatura</div>
                                            <div class="card-body text-center">
                                                <p>Status: <b>
                                                        <%=subs.status%>
                                                    </b></p>
                                                <p>Pagamento: <b>
                                                        <%=subs.billingType%>
                                                    </b></p>
                                                <p>Vence dia <b>
                                                        <%=subs.nextDueDate%>
                                                    </b></p>
                                                <hr>

                                                <% if(subs.status==="ACTIVE" ){ %>
                                                    <button class="btn btn-primary" style="width: 100%;" onclick="anteciparAssinatura()">Antecipar
                                                        mensalidade</button>

                                                    <p></p>
                                                    <button class="btn btn-danger" onclick="cancelSubscription()"
                                                        style="width: 100%;">Cancelar
                                                        assinatura</button>
                                                    <% } else { %>
                                                        <button class="btn btn-primary" style="width: 100%;">Pagar
                                                            mensalidade</button>
                                                        <p></p>
                                                        <button class="btn btn-outline-default" style="width: 100%;"
                                                            onclick="alert('Pague sua dívida com a plataforma para poder cancelar. Entre em contato com o suporte para negociar.')"
                                                            disabled>Cancelar assinatura</button>
                                                        <% } %>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-8">
                                        <!-- Account details card-->
                                        <div class="card mb-4">
                                            <div class="card-header">Detalhes da Conta</div>
                                            <div class="card-body">
                                                <form method="POST">
                                                    <!-- Form Group (username)-->
                                                    <div class="mb-3">
                                                        <label class="small mb-1" for="inputUsername">CNPJ</label>
                                                        <input class="form-control" id="inputUsername" type="text"
                                                            placeholder="Número do CNPJ"
                                                            value="<%=user.data.documents.cnpj%>" disabled>
                                                    </div>
                                                    <!-- Form Row-->
                                                    <div class="row gx-3 mb-3">
                                                        <!-- Form Group (first name)-->
                                                        <div class="col-md-6">
                                                            <label class="small mb-1" for="inputFirstName">Nome
                                                                Fantasia</label>
                                                            <input class="form-control" id="inputFirstName" type="text"
                                                                placeholder="Enter your first name"
                                                                value="<%=user.data.documents.nome_fantasia%>" disabled>
                                                        </div>
                                                        <!-- Form Group (last name)-->
                                                        <div class="col-md-6">
                                                            <label class="small mb-1" for="inputLastName">Nome Completo
                                                                do dono</label>
                                                            <input class="form-control" id="inputLastName"
                                                                name="ownerName" type="text" placeholder="Nome completo"
                                                                value="<%=user.data.profile.ownerName%>">
                                                        </div>
                                                    </div>
                                                    <!-- Form Row        -->
                                                    <div class="row gx-3 mb-3">
                                                        <!-- Form Group (location)-->
                                                        <div class="col-md-6">
                                                            <label class="small mb-1" for="inputLocation">Localização da
                                                                sede</label>
                                                            <input class="form-control" id="inputLocation"
                                                                name="mainLocation" type="text"
                                                                placeholder="Cidade, estado"
                                                                value="<%=user.data.profile.mainLocation%>">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="small mb-1" for="inputPhone">Celular</label>
                                                            <input class="form-control" id="inputPhone" name="phone"
                                                                type="tel" placeholder="Número de contato"
                                                                value="<%=user.data.profile.phone%>">
                                                        </div>
                                                    </div>
                                                    <!-- Form Group (email address)-->
                                                    <div class="mb-3">
                                                        <label class="small mb-1" for="inputEmailAddress">E-mail</label>
                                                        <input class="form-control" id="inputEmailAddress" type="email"
                                                            placeholder="Enter your email address"
                                                            value="<%=user.data.email%>" disabled>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="small mb-1" for="inputEmailAddress">TOKEN GROWATT</label>
                                                        <div class="input-group">
                                                          <input class="form-control" name="tokenGrowatt" type="password" placeholder="Coloque seu token da Growatt" value="<%=user.data.tokenGrowatt%>">
                                                          <button type="button" class="btn btn-outline-secondary input-group-text" id="togglePassword"><i class="fa fa-eye"></i></button>
                                                        </div>
                                                      </div>
                                                      
                                                    <div class="mb-3">
                                                        <label class="small mb-1">Sobre a empresa</label>
                                                        <input class="form-control" name="about" type="text"
                                                            placeholder="Coloque seu token da Growatt"
                                                            value="<%=user.data.profile.about%>">
                                                    </div>
                                                    <input type="text" name="logoSrc" class="form-control"
                                                        id="compbase64" value="<%=user.data.profile.logo%>"
                                                        style="display: none;">
                                                    <!-- Save changes button-->
                                                    <button class="btn btn-primary" type="submit">Salvar
                                                        mudanças</button>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <%- include("../../partials/footer.ejs") %>
                </div>
        </div>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <%- include("../components/modal/logout.ejs") %>
            <script>
                function previewFile(type) {
                    const preview = document.getElementById("logoPreview"),
                        file = document.getElementById("logoInput").files[0];

                    const reader = new FileReader();

                    if (file.size > 5e+7) {
                        alert("O arquivo é muito grande, selecione outro!");
                        document.getElementById("logoInput").value = ''
                        return;
                    }

                    reader.addEventListener("load", () => {
                        preview.src = reader.result;
                        document.getElementById("labelEnd").innerText = document.getElementById("logoPreview").value
                        document.getElementById("compbase64").value = reader.result
                    }, false);
                    
                    if (file) {
                        reader.readAsDataURL(file);
                    }
                }

                function cancelSubscription() {
                    const q = confirm("Tem certeza que deseja cancelar sua assinatura?");
                    if (q) {
                        axios.post('/conta/cancelar_assinatura')
                        .then(function (response) {
                            alert("Então... Isso é um adeus? ToT")
                           window.location.pathname = "/logout"
                        });
                    }
                }

                function anteciparAssinatura() {
                    const q = confirm("Tem certeza que deseja antecipar sua assinatura?");
                    if (q) {
                        axios.post('/conta/antecipar_assinatura')
                        .then(function (response) {
                            alert("Em breve...")
                        });
                    }
                }
            </script>
            <script src="/vendor/jquery/jquery.min.js"></script>
            <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
            <script src="/js/sb-admin-2.min.js"></script>
            <script>
                const togglePassword = document.querySelector('#togglePassword');
                const password = document.querySelector('input[name="tokenGrowatt"]');
              
                togglePassword.addEventListener('click', function (e) {
                  // toggle the type attribute
                  const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                  password.setAttribute('type', type);
                  // toggle the eye icon
                  this.querySelector('i').classList.toggle('fa-eye');
                  this.querySelector('i').classList.toggle('fa-eye-slash');
                });
              </script>              
    </body>

    </html>