<%- include("../../partials/head.ejs") %>

  <body id="page-top">
    <div id="wrapper">
      <%- include("../../partials/sidebar.ejs") %>
        <div id="content-wrapper" class="d-flex flex-column">
          <div id="content">
            <%- include("../../partials/topbar.ejs") %>
              <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">Novo Cliente</h1>
                <p class="mb-4">Registrar um cliente possibilita acesso ao app connect e para criar projetos.
                </p>
                <select id="selectTipoCliente" class="form-control" style="margin-bottom: 20px" required="">
                  <option value="" selected>Selecione o tipo de cliente</option>
                  <option value="pf">Pessoa Física</option>
                  <option value="pj">Pessoa Jurídica</option>
                </select>

                <div id="pf" style="display: none">
                  <form method="POST">
                    <b class="mb-4">Dados Básicos</b>

                    <input name="type" id="type" value="pf" type="text" style="display: none">
                    <div class="row gx-3 mb-3">
                      <div class="col-md-6">
                        <label class="small mb-1" for="nomeComp">Nome Completo <b style="color: red">*</b></label>
                        <input name="nomeComp" class="form-control" id="nomeComp" type="text"
                          placeholder="Nome completo" required>
                      </div>

                      <div class="col-md-6">
                        <label class="small mb-1" for="cpf">CPF <b style="color: red">*</b></label>
                        <input name="cpf" onblur="userAlreadyExists()" class="form-control" id="cpf" type="text"
                          placeholder="000.000.000-00" required>
                        <b style="color: red" id="warnCpf"></b>
                      </div>

                      <div class="col-md-6">
                        <label class="small mb-1" for="dataNasc">Data de Nascimento <b style="color: red">*</b></label>
                        <input name="dataNasc" class="form-control" id="dataNasc" type="date" required>
                      </div>
                    </div>

                    <div class="row gx-3 mb-3">

                      <div class="col-md-6">
                        <label class="small mb-1" for="email">E-mail <b style="color: red">*</b></label>
                        <input name="email" class="form-control" id="email" type="text" placeholder="fulano@gmail.com"
                          required>
                      </div>

                      <div class="col-md-6">
                        <label class="small mb-1" for="celular">Celular <b style="color: red">*</b></label>
                        <input name="celular" class="form-control" id="celular" type="text"
                          placeholder="(00) 0.0000-0000" required>
                      </div>
                    </div>




                    <div class="row gx-3 mb-3">
                      <div class="col-md-6">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="sexo" id="flexRadioDefault1"
                            value="masculino" checked>
                          <label class="form-check-label" for="flexRadioDefault1">
                            Masculino
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="sexo" id="flexRadioDefault2"
                            value="feminino">
                          <label class="form-check-label" for="flexRadioDefault2">
                            Feminino
                          </label>
                        </div>
                      </div>


                      <div class="col-md-6">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="estadoCivil" id="flexRadioDefault1"
                            value="casado" checked>
                          <label class="form-check-label" for="flexRadioDefault1">
                            Casado(a)
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="estadoCivil" id="flexRadioDefault2"
                            value="solteiro">
                          <label class="form-check-label" for="flexRadioDefault2">
                            Solteiro(a)
                          </label>
                        </div>
                      </div>
                    </div>


                    <div class="mb-3">
                      <label class="small mb-1" for="endCompleto">Endereço Completo <b style="color: red">*</b></label>
                      <input name="endCompleto" class="form-control" id="endCompleto" type="text"
                        placeholder="Rua, bairro, número, complemento - Cidade / Estado - CEP" value="" required>
                    </div>
                    <b class="mb-4">Configuração de login</b>
                    <div class="row gx-3 mb-3">

                      <div class="col-md-6">
                        <label class="small mb-1" for="password">Senha</label>
                        <input name="password" class="form-control" id="password" type="text"
                          value="<%=config.users ? config.users.passCommon : ''%>">
                      </div>
                    </div>
                    <div class="row gx-3 mb-3" style="display: none;">
                      <div class="col-md-6">
                        <input name="business" class="form-control" type="text" value="<%=user.key%>" required
                          autocomplete="off" />
                      </div>
                    </div>

                    <button class="btn btn-primary" style="width: 100%;" type="submit" id="submitCpf" disabled>Registrar
                      Cliente</button>
                  </form>
                </div>
                <!--CLIENTE PJ-->
                <div id="pj" style="display: none">
                  <form method="POST">
                    <b class="mb-4">Dados Básicos</b>

                    <input name="type" id="type" value="pj" type="text" style="display: none">
                    <div class="row gx-3 mb-3">
                      <div class="col-md-6">
                        <label class="small mb-1" for="cnpj">CNPJ <b style="color: red">*</b></label>
                        <input name="cnpj" onblur="getCnpj()" class="form-control" id="cnpj" type="text"
                          placeholder="00.000.000/0000-00" required>
                        <b style="color: red" id="warnCnpj"></b>
                      </div>
                      <div class="col-md-6">
                        <label class="small mb-1" for="nomeFantasia">Nome Fantasia <b style="color: red">*</b></label>
                        <input name="nomeFantasia" class="form-control" id="nomeFantasia" type="text"
                          placeholder="Nome Fantasia" required>
                      </div>
                    </div>
                    <div class="row gx-3 mb-3">

                      <div class="col-md-6">
                        <label class="small mb-1" for="email">E-mail <b style="color: red">*</b></label>
                        <input name="email" class="form-control" id="emailPJ" type="text" placeholder="fulano@gmail.com"
                          required>
                      </div>

                      <div class="col-md-6">
                        <label class="small mb-1" for="celular">Celular <b style="color: red">*</b></label>
                        <input name="celular" class="form-control" id="celularPJ" type="text"
                          placeholder="(00) 0.0000-0000" required>
                      </div>
                    </div>


                    <div class="row gx-3 mb-3">

                      <div class="col-md-6">
                        <label class="small mb-1" for="abertura">Abertura</label>
                        <input name="abertura" class="form-control" id="aberturaPJ" type="date">
                      </div>

                      <div class="col-md-6">
                        <label class="small mb-1" for="patrimonio">Patrimônio</label>
                        <input name="patrimonio" class="form-control" id="patrimonioPJ" type="text"
                          placeholder="R$00000">
                      </div>

                      <div class="col-md-6">
                        <label class="small mb-1" for="atividade">Atividade Principal</label>
                        <input name="atividade" class="form-control" id="atividadePJ" type="text">
                      </div>

                    </div>

                    <div class="row gx-3 mb-3">
                      <div class="col-md-6">
                        <label class="small mb-1" for="renda">Renda Mensal</label>
                        <input name="renda" class="form-control" id="renda" type="text" placeholder="R$00.000">
                      </div>

                    </div>
                    <div class="mb-3">
                      <label class="small mb-1" for="enderecoPJ">Endereço Completo <b style="color: red">*</b></label>
                      <input name="endCompleto" class="form-control" id="enderecoPJ" type="text"
                        placeholder="Rua, bairro, número, complemento - Cidade / Estado - CEP" value="" required>
                    </div>
                    <b class="mb-4">Configuração de login</b>
                    <div class="row gx-3 mb-3">

                      <div class="col-md-6">
                        <label class="small mb-1" for="password">Senha</label>
                        <input name="password" class="form-control" id="password" type="text"
                          value="<%=config.users ? config.users.passCommon : ''%>">
                      </div>
                    </div>
                    <div class="row gx-3 mb-3" style="display: none;">
                      <div class="col-md-6">
                        <input name="business" class="form-control" type="text" value="<%=user.key%>" required
                          autocomplete="off" />
                      </div>
                    </div>

                    <button class="btn btn-primary" style="width: 100%;" type="submit" id="submitCnpj"
                      disabled>Registrar
                      Cliente</button>
                  </form>
                </div>
              </div>
          </div>
          <%- include("../../partials/footer.ejs") %>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <%- include("../components/modal/logout.ejs") %>
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
      <script src="/js/sb-admin-2.min.js"></script>


      <script type='text/javascript'
        src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
      <script>
        $(document).ready(function () {
          $(":input").inputmask();

          $("#celular").inputmask({
            mask: '+55 (99) 9.9999-9999',
            placeholder: '_',
            showMaskOnHover: false,
            showMaskOnFocus: false,
          });

          $("#celularPJ").inputmask({
            mask: '+55 (99) 9.9999-9999',
            placeholder: '_',
            showMaskOnHover: false,
            showMaskOnFocus: false,
          });

          $("#cpf").inputmask({
            mask: '999.999.999-99',
            placeholder: '_',
            showMaskOnHover: false,
            showMaskOnFocus: false,
          });

          $("#cnpj").inputmask({
            mask: '99.999.999/9999-99',
            placeholder: '_',
            showMaskOnHover: false,
            showMaskOnFocus: false,
          });

          $("#patrimonio").inputmask('currency', {
            greedy: false,
            radixPoint: ",",
            prefix: "R$",
            groupSeparator: ".",
            alias: "numeric",
            autoGroup: true,
            digits: 2,
            digitsOptional: false,
            clearMaskOnLostFocus: false
          })

          $("#renda").inputmask('currency', {
            greedy: false,
            radixPoint: ",",
            prefix: "R$",
            groupSeparator: ".",
            alias: "numeric",
            autoGroup: true,
            digits: 2,
            digitsOptional: false,
            clearMaskOnLostFocus: false
          })
        })
      </script>

      <script>
        const selectTipoCliente = document.getElementById("selectTipoCliente");
        const pfDiv = document.getElementById("pf");
        const pjDiv = document.getElementById("pj");

        selectTipoCliente.addEventListener("change", function () {
          console.log(selectTipoCliente.value)
          console.log("Índice selecionado:", selectTipoCliente.selectedIndex);
          if (selectTipoCliente.selectedIndex === 1) {
            pfDiv.style.display = "block";
            pjDiv.style.display = "none";
          } else if (selectTipoCliente.selectedIndex === 2) {
            pfDiv.style.display = "none";
            pjDiv.style.display = "block";
          } else {
            pfDiv.style.display = "none";
            pjDiv.style.display = "none";
          }
        });

        function validateCPF(cpf) {
          cpf = cpf.replace(/\D/g, ''); // Remove todos os caracteres não numéricos
          if (cpf.length !== 11 || /^(\d)\1+$/.test(cpf)) {
            return false; // Verifica se o CPF tem 11 dígitos ou é uma sequência repetida
          }

          let sum = 0;
          for (let i = 0; i < 9; i++) {
            sum += parseInt(cpf.charAt(i)) * (10 - i);
          }

          let remainder = (sum * 10) % 11;
          if (remainder === 10 || remainder === 11) remainder = 0;
          if (remainder !== parseInt(cpf.charAt(9))) return false;

          sum = 0;
          for (let i = 0; i < 10; i++) {
            sum += parseInt(cpf.charAt(i)) * (11 - i);
          }

          remainder = (sum * 10) % 11;
          if (remainder === 10 || remainder === 11) remainder = 0;
          return remainder === parseInt(cpf.charAt(10));
        }


        function userAlreadyExists() {
          let cpf_cnpj, choose;

          const cpf = document.getElementById('cpf').value;
          const cnpj = document.getElementById('cnpj').value;

          if (cpf === '') {
            cpf_cnpj = cnpj.replace(/\D/g, '');
            choose = 'cnpj';
          } else {
            cpf_cnpj = cpf.replace(/\D/g, '');
            choose = 'cpf';

            // Validação do CPF
            if (!validateCPF(cpf_cnpj)) {
              document.getElementById('warnCpf').innerText = 'CPF inválido!';
              document.getElementById('submitCpf').setAttribute('disabled', '');
              return; // Sai da função se o CPF for inválido
            } else {
              document.getElementById('warnCpf').innerText = '';
              document.getElementById('submitCpf').removeAttribute('disabled');
            }
          }

          axios
            .get(`/dashboard/clientes/checkExist/${cpf_cnpj}`)
            .then((response) => {
              const { data } = response;
              console.log(data);

              if (data.error) {
                if (choose === 'cpf') {
                  document.getElementById('warnCpf').innerText = 'Esse cliente já existe!';
                  document.getElementById('submitCpf').setAttribute('disabled', '');
                } else {
                  document.getElementById('warnCnpj').innerText = 'Esse cliente já existe!';
                  document.getElementById('submitCnpj').setAttribute('disabled', '');
                }
              } else {
                if (choose === 'cpf') {
                  document.getElementById('submitCpf').removeAttribute('disabled');
                  document.getElementById('warnCpf').innerText = '';
                } else {
                  document.getElementById('submitCnpj').removeAttribute('disabled');
                  document.getElementById('warnCnpj').innerText = '';
                }
              }
            })
            .catch((error) => {
              console.log(error);
            });
        }

        function getCnpj() {

          const cnpjValue = document.getElementById('cnpj').value

          const cnpj = cnpjValue.replace(/\D/g, '');

          if (!cnpj || cnpj === '') return;

          axios.get(`/api/v1/cnpj/${cnpj}`)
            .then((response) => {
              const { data } = response;
              const abertura = data.abertura.split('/');
              console.log(data);
              document.getElementById("nomeFantasia").value = data.fantasia
              document.getElementById("emailPJ").value = data.email
              document.getElementById("celularPJ").value = data.telefone
              document.getElementById("patrimonioPJ").value = data.capital_social
              document.getElementById("aberturaPJ").value = `${abertura[2]}-${abertura[1]}-${abertura[0]}`
              document.getElementById("enderecoPJ").value = `${data.logradouro}, ${data.numero}, ${data.bairro} - ${data.municipio}, ${data.uf} | CEP: ${data.cep}`
              document.getElementById("atividadePJ").value = `${data.atividade_principal[0].code} - ${data.atividade_principal[0].text}`
            })
            .catch((error) => {
              console.log(error);
            });

          userAlreadyExists();
        }

      </script>
  </body>

  </html>