<%- include("../../partials/head.ejs") %>

  <body id="page-top">
    <div id="wrapper">
      <%- include("../../partials/sidebar.ejs") %>
        <div id="content-wrapper" class="d-flex flex-column">
          <div id="content">
            <%- include("../../partials/topbar.ejs") %>
              <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">Novo Cliente</h1>
                <p class="mb-4">
                  Registrar um cliente possibilita acesso ao app connect e para criar projetos.
                </p>

                <form method="POST">
                  <select id="selectTipoCliente" class="form-control mb-3" name="type" required>
                    <option value="" selected>Selecione o tipo de cliente</option>
                    <option value="pf">Pessoa Física</option>
                    <option value="pj">Pessoa Jurídica</option>
                  </select>

                  <div id="campos-comuns">
                    <b class="mb-4">Dados Básicos</b>

                    <div class="row gx-3 mb-3">

                      <div class="col-md-6">
                        <label class="small mb-1" for="email">E-mail <b style="color: red">*</b></label>
                        <input name="email" class="form-control" id="email" type="text" placeholder="fulano@gmail.com"
                          required>
                      </div>

                      <div class="col-md-6">
                        <label class="small mb-1" for="celular">Celular <b style="color: red">*</b></label>
                        <input name="celular" class="form-control" id="celular" type="text"
                          placeholder="(00) 0.0000-0000" required>
                      </div>
                    </div>
                  </div>

                  <div id="campos-pf" style="display: none;">

                    <b class="mb-4">Dados Pessoa Física</b>
                    <div class="row gx-3 mb-3">
                      <div class="col-md-6">
                        <label class="small mb-1" for="nomeComp">Nome Completo <b style="color: red">*</b></label>
                        <input name="nomeComp" class="form-control" id="nomeComp" type="text"
                          placeholder="Nome completo" required>
                      </div>

                      <div class="col-md-6">
                        <label class="small mb-1" for="cpf">CPF <b style="color: red">*</b></label>
                        <input name="cpf" onblur="userAlreadyExists()" class="form-control" id="cpf" type="text"
                          placeholder="000.000.000-00" required>
                        <b style="color: red" id="warnCpf"></b>
                      </div>

                      <div class="col-md-6">
                        <label class="small mb-1" for="dataNasc">Data de Nascimento <b style="color: red">*</b></label>
                        <input name="dataNasc" class="form-control" id="dataNasc" type="date" required>
                      </div>
                    </div>
                    <div class="row gx-3 mb-3">
                      <div class="col-md-6">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="sexo" id="flexRadioDefault1"
                            value="masculino" checked>
                          <label class="form-check-label" for="flexRadioDefault1">
                            Masculino
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="sexo" id="flexRadioDefault2"
                            value="feminino">
                          <label class="form-check-label" for="flexRadioDefault2">
                            Feminino
                          </label>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="estadoCivil" id="flexRadioDefault1"
                            value="casado" checked>
                          <label class="form-check-label" for="flexRadioDefault1">
                            Casado(a)
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="estadoCivil" id="flexRadioDefault2"
                            value="solteiro">
                          <label class="form-check-label" for="flexRadioDefault2">
                            Solteiro(a)
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="campos-pj" style="display: none;">
                    <b class="mb-4">Dados Pessoa Jurídica</b>
                    <div class="row gx-3 mb-3">
                      <div class="col-md-6">
                        <label class="small mb-1" for="cnpj">CNPJ <b style="color: red">*</b></label>
                        <input name="cnpj" onblur="getCnpj()" class="form-control" id="cnpj" type="text"
                          placeholder="00.000.000/0000-00" required>
                        <b style="color: red" id="warnCnpj"></b>
                      </div>
                      <div class="col-md-6">
                        <label class="small mb-1" for="nomeFantasia">Nome Fantasia <b style="color: red">*</b></label>
                        <input name="nomeFantasia" class="form-control" id="nomeFantasia" type="text"
                          placeholder="Nome Fantasia" required>
                      </div>
                    </div>
                    <div class="row gx-3 mb-3">

                      <div class="col-md-6">
                        <label class="small mb-1" for="abertura">Abertura</label>
                        <input name="abertura" class="form-control" id="aberturaPJ" type="date">
                      </div>

                      <div class="col-md-6">
                        <label class="small mb-1" for="atividade">Atividade Principal</label>
                        <input name="atividade" class="form-control" id="atividadePJ" type="text">
                      </div>

                    </div>
                  </div>

                  <b class="mb-4">Endereço</b>

                  <div class="row gx-3 mb-3">

                    <div class="col-md-6">
                      <label class="small mb-1" for="zipcode">CEP <b style="color: red">*</b></label>
                      <input name="zipcode" class="form-control" id="zipcode" type="text" placeholder="CEP" required>
                      <small style="color:red">Preencha o CEP para autocompletar os dados.</small>
                    </div>

                    <div class="col-md-6">
                      <label class="small mb-1" for="street">Rua <b style="color: red">*</b></label>
                      <input name="street" class="form-control" id="street" type="text" placeholder="Rua" required>
                    </div>
                    <div class="col-md-6">
                      <label class="small mb-1" for="neighborhood">Bairro <b style="color: red">*</b></label>
                      <input name="neighborhood" class="form-control" id="neighborhood" type="text" placeholder="Bairro"
                        required>

                    </div>
                    <div class="col-md-6">

                      <label class="small mb-1" for="number">Número <b style="color: red">*</b></label>
                      <input name="number" class="form-control" id="number" type="text" placeholder="Número" required>
                    </div>
                    <div class="col-md-6">

                      <label class="small mb-1" for="complement">Complemento</label>
                      <input name="complement" class="form-control" id="complement" type="text"
                        placeholder="Complemento">
                    </div>
                    <div class="col-md-6">
                      <label class="small mb-1" for="city">Cidade <b style="color: red">*</b></label>
                      <input name="city" class="form-control" id="city" type="text" placeholder="Cidade" required>
                    </div>

                    <div class="col-md-6">
                      <label class="small mb-1" for="state">Estado <b style="color: red">*</b></label>
                      <input name="state" class="form-control" id="state" type="text" placeholder="Estado" required>
                    </div>

                  </div>


                  <b class="mb-4">Outras informações</b>
                  <div class="row gx-3 mb-3">

                    <div class="col-md-6">
                      <label class="small mb-1" for="obs">Observações do Cliente</label>
                      <input name="obs" class="form-control" id="obs" type="text">
                    </div>
                  </div>

                  <b class="mb-4">Configuração de login</b>
                  <div class="row gx-3 mb-3">

                    <div class="col-md-6">
                      <label class="small mb-1" for="password">Senha</label>
                      <input name="password" class="form-control" id="password" type="text"
                        value="<%=config.users ? config.users.passCommon : ''%>">
                    </div>
                  </div>
                  <div class="row gx-3 mb-3" style="display: none;">
                    <div class="col-md-6">
                      <input name="business" class="form-control" type="text" value="<%=user.key%>" required
                        autocomplete="off" />
                    </div>
                  </div>

                  <b class="mb-4">Documentos</b>

                  <div class="field">
                    <label class="label">Selecione os documentos</label>
                    <div class="control">
                      <div class="file has-name is-primary">
                        <label class="file-label">
                          <input class="file-input" type="file" id="fileInput" multiple>
                          <span class="file-cta">
                            <span class="file-icon">
                              <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">Escolha os arquivos...</span>
                          </span>
                          <span class="file-name" id="fileName">Nenhum arquivo selecionado</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  
                  <input type="hidden" id="base64Input" name="base64Documents">

                  <button class="btn btn-primary w-100" type="submit" id="submitCustomer" disabled>Registrar
                    Cliente</button>
                </form>
              </div>

          </div>
          <%- include("../../partials/footer.ejs") %>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <%- include("../components/modal/logout.ejs") %>
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
      <script src="/js/sb-admin-2.min.js"></script>


      <script type='text/javascript'
        src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
   
   
   
   
   
   
   
   <script>
        $(document).ready(function () {
          $(":input").inputmask();

          $("#celular").inputmask({
            mask: '+55 (99) 9.9999-9999',
            placeholder: '_',
            showMaskOnHover: false,
            showMaskOnFocus: false,
          });

          $("#celularPJ").inputmask({
            mask: '+55 (99) 9.9999-9999',
            placeholder: '_',
            showMaskOnHover: false,
            showMaskOnFocus: false,
          });

          $("#cpf").inputmask({
            mask: '999.999.999-99',
            placeholder: '_',
            showMaskOnHover: false,
            showMaskOnFocus: false,
          });

          $("#cnpj").inputmask({
            mask: '99.999.999/9999-99',
            placeholder: '_',
            showMaskOnHover: false,
            showMaskOnFocus: false,
          });

          $("#zipcode").inputmask({
            mask: '99999-999',
            placeholder: '_',
            showMaskOnHover: false,
            showMaskOnFocus: false,
          });

          $("#number").inputmask({
            mask: '9999[9]',
            placeholder: '_',
            showMaskOnHover: false,
            showMaskOnFocus: false,
          });
        })
      </script>

      <script>
        // Obtenha o elemento select e os contêineres de PF e PJ
        const selectTipoCliente = document.getElementById("selectTipoCliente");
        const pfDiv = document.getElementById("campos-pf");
        const pjDiv = document.getElementById("campos-pj");

        function limparCampos(campoContainerId) {
          const inputs = document.querySelectorAll(`#${campoContainerId} input`);
          inputs.forEach(input => {
            input.value = ""; // Limpa o valor do campo
            input.checked = false; // Para campos do tipo checkbox ou radio
          });
        }


        // Adicione o listener de evento
        selectTipoCliente.addEventListener("change", function () {
          console.log("Valor selecionado:", selectTipoCliente.value);
          console.log("Índice selecionado:", selectTipoCliente.selectedIndex);

          if (selectTipoCliente.selectedIndex === 1) {
            // Pessoa Física
            pfDiv.style.display = "block";
            pjDiv.style.display = "none";
            // Remove o atributo "required" dos campos PJ
            document.querySelectorAll("#campos-pj input").forEach(input => input.required = false);

            // Adiciona o atributo "required" aos campos PF
            document.querySelectorAll("#campos-pf input").forEach(input => input.required = true);


            document.getElementById('submitCustomer').removeAttribute('disabled');
            limparCampos("campos-pj");
          } else if (selectTipoCliente.selectedIndex === 2) {
            // Pessoa Jurídica
            pfDiv.style.display = "none";
            pjDiv.style.display = "block";
            document.querySelectorAll("#campos-pf input").forEach(input => input.required = false);

            // Adiciona o atributo "required" aos campos PJ
            document.querySelectorAll("#campos-pj input").forEach(input => input.required = true);


            document.getElementById('submitCustomer').removeAttribute('disabled');
            limparCampos("campos-pf");
          } else {

            document.getElementById('submitCustomer').setAttribute('disabled', '');
            // Nenhuma seleção
            pfDiv.style.display = "none";
            pjDiv.style.display = "none";
            document.querySelectorAll("#campos-pf input, #campos-pj input").forEach(input => input.required = false);

            limparCampos("campos-pf");
            limparCampos("campos-pj");
          }
        });


        function validateCPF(cpf) {
          cpf = cpf.replace(/\D/g, ''); // Remove todos os caracteres não numéricos
          if (cpf.length !== 11 || /^(\d)\1+$/.test(cpf)) {
            return false; // Verifica se o CPF tem 11 dígitos ou é uma sequência repetida
          }

          let sum = 0;
          for (let i = 0; i < 9; i++) {
            sum += parseInt(cpf.charAt(i)) * (10 - i);
          }

          let remainder = (sum * 10) % 11;
          if (remainder === 10 || remainder === 11) remainder = 0;
          if (remainder !== parseInt(cpf.charAt(9))) return false;

          sum = 0;
          for (let i = 0; i < 10; i++) {
            sum += parseInt(cpf.charAt(i)) * (11 - i);
          }

          remainder = (sum * 10) % 11;
          if (remainder === 10 || remainder === 11) remainder = 0;
          return remainder === parseInt(cpf.charAt(10));
        }


        function userAlreadyExists() {
          let cpf_cnpj, choose;

          const cpf = document.getElementById('cpf').value;
          const cnpj = document.getElementById('cnpj').value;

          if (cpf === '') {
            cpf_cnpj = cnpj.replace(/\D/g, '');
            choose = 'cnpj';
          } else {
            cpf_cnpj = cpf.replace(/\D/g, '');
            choose = 'cpf';

            // Validação do CPF
            if (!validateCPF(cpf_cnpj)) {
              document.getElementById('warnCpf').innerText = 'CPF inválido!';
              document.getElementById('submitCustomer').setAttribute('disabled', '');
              return; // Sai da função se o CPF for inválido
            } else {
              document.getElementById('warnCpf').innerText = '';
              document.getElementById('submitCustomer').removeAttribute('disabled');
            }
          }

          axios
            .get(`/dashboard/clientes/checkExist/${cpf_cnpj}`)
            .then((response) => {
              const { data } = response;
              console.log(data);

              if (data.error) {
                if (choose === 'cpf') {
                  document.getElementById('warnCpf').innerText = 'Esse cliente já existe!';
                  document.getElementById('submitCustomer').setAttribute('disabled', '');
                } else {
                  document.getElementById('warnCnpj').innerText = 'Esse cliente já existe!';
                  document.getElementById('submitCustomer').setAttribute('disabled', '');
                }
              } else {
                if (choose === 'cpf') {
                  document.getElementById('submitCustomer').removeAttribute('disabled');
                  document.getElementById('warnCpf').innerText = '';
                } else {
                  document.getElementById('submitCustomer').removeAttribute('disabled');
                  document.getElementById('warnCnpj').innerText = '';
                }
              }
            })
            .catch((error) => {
              console.log(error);
            });
        }

        function getCnpj() {

          const cnpjValue = document.getElementById('cnpj').value

          const cnpj = cnpjValue.replace(/\D/g, '');

          if (!cnpj || cnpj === '') return;

          axios.get(`/api/v1/cnpj/${cnpj}`)
            .then((response) => {
              const { data } = response;
              console.log(data);

              document.getElementById("zipcode").value = data.cep || ''; // Preenche o CEP
              document.getElementById("street").value = data.logradouro || ''; // Preenche a rua
              document.getElementById("neighborhood").value = data.bairro || ''; // Preenche o bairro
              document.getElementById("number").value = data.numero || ''; // Preenche o número
              document.getElementById("complement").value = data.complemento || ''; // Preenche o complemento (caso exista)
              document.getElementById("city").value = data.municipio || ''; // Preenche a cidade
              document.getElementById("state").value = data.uf || ''; // Preenche o estado

              document.getElementById("nomeFantasia").value = data.fantasia || ''; // Preenche o nome fantasia

              const abertura = data.abertura.split('/');
              document.getElementById("aberturaPJ").value = `${abertura[2]}-${abertura[1]}-${abertura[0]}`; // Formato correto de data

              document.getElementById("email").value = data.email || '';
              document.getElementById("celular").value = data.telefone || '';

              document.getElementById("atividadePJ").value = `${data.atividade_principal[0].code} - ${data.atividade_principal[0].text}`
            })
            .catch((error) => {
              console.error("Erro ao buscar dados:", error);
            });


          userAlreadyExists();
        }


        document.getElementById('zipcode').addEventListener('blur', async function () {
          const cep = this.value.replace(/\D/g, ''); // Remove caracteres não numéricos
          if (cep.length !== 8) {
            alert('Por favor, insira um CEP válido.');
            return;
          }

          try {
            const response = await fetch(`https://viacep.com.br/ws/${cep}/json/`);
            if (!response.ok) {
              throw new Error('Erro na busca do CEP');
            }
            const data = await response.json();

            if (data.erro) {
              alert('CEP não encontrado. Preencha os campos manualmente.');
              //liberarEdicao(true); // Libera a edição dos campos
              return;
            }

            // Preenche os campos e desabilita para evitar edição
            document.getElementById('street').value = data.logradouro || '';
            document.getElementById('neighborhood').value = data.bairro || '';
            document.getElementById('city').value = data.localidade || '';
            document.getElementById('state').value = data.uf || '';

            // liberarEdicao(false); // Impede edição nos campos preenchidos
          } catch (error) {
            console.error('Erro ao buscar o CEP:', error);
            alert('Erro ao buscar o CEP. Tente novamente.');
          }
        });

        // Libera ou bloqueia edição dos campos
        function liberarEdicao(isEditable) {
          const fields = ['street', 'neighborhood', 'city', 'state'];
          fields.forEach((field) => {
            document.getElementById(field).disabled = !isEditable && document.getElementById(field).value !== '';
          });
        }



        document.getElementById("fileInput").addEventListener("change", async function (event) {
  const files = event.target.files;
  const base64Array = [];

  for (let i = 0; i < files.length; i++) {
    const base64 = await fileToBase64(files[i]);
    base64Array.push(base64);
  }

  // Inserindo os dados base64 no input escondido
  document.getElementById("base64Input").value = JSON.stringify(base64Array);
});

function fileToBase64(file) {
  return new Promise((resolve, reject) => {
    const reader = new FileReader();
    reader.onload = () => resolve(reader.result);
    reader.onerror = (error) => reject(error);
    reader.readAsDataURL(file);
  });
}

        


      </script>

<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
  </body>

  </html>