<%- include("../../partials/head.ejs") %>

  <body id="page-top">
    <div id="wrapper">
      <%- include("../../partials/sidebar.ejs") %>
        <div id="content-wrapper" class="d-flex flex-column">
          <div id="content">
            <%- include("../../partials/topbar.ejs") %>
              <% if(customer.type==='pf' || customer.cpf) { %>
                <div class="container-fluid">
                  <h1 class="h3 mb-2 text-gray-800">Propriedades de <%= customer.nomeComp %>
                  </h1>
                  <p class="mb-4">Visualização de dados, para editar retorne a página principal de
                    clientes.</p>
                  <div class="card shadow mb-4">
                    <div class="card-body">
                      <h1 class="h3 mb-2 text-gray-800">Dados do Cliente
                      </h1>
                      <div class="row gx-3 mb-3">
                        <div class="col-md-3">
                          <b>Nome Completo</b>
                          <p>
                            <%-customer.nomeComp==='' ? '<b style="color: red;">Não provido</b>' :
                              `${customer.nomeComp}` %>
                          </p>
                        </div>
                        <div class="col-md-3">
                          <b>CPF</b>
                          <p>
                            <%-customer.cpf==='' ? '<b style="color: red;">Não provido</b>' : `${customer.cpf}` %>
                          </p>
                        </div>
                        <div class="col-md-3">
                          <b>Data de Nascimento</b>
                          <p>
                            <% if(!customer.dataNasc || customer.dataNasc==='' ) { %>
                              <b style="color: red;">Não provido</b>
                              <% } else { %>
                                <%=customer.dataNasc.split('-')[2]%>/<%=customer.dataNasc.split('-')[1]%>/<%=customer.dataNasc.split('-')[0]%>
                                      <%}%>
                          </p>
                        </div>
                        <div class="col-md-3">
                          <b>Sexo</b>
                          <p>
                            <%- !customer.sexo || customer.sexo==='' ? '<b style="color: red;">Não provido</b>' :
                              `${customer.sexo}` %>
                          </p>
                        </div>

                        <div class="col-md-3">
                          <b>Estado Civil</b>
                          <p>
                            <%-!customer.estadoCivil || customer.estadoCivil===''
                              ? '<b style="color: red;">Não provido</b>' : `${customer.estadoCivil}` %>
                          </p>
                        </div>

                        <div class="col-md-3">
                          <b>E-mail</b>
                          <p>
                            <%-!customer.email || customer.email==='' ? '<b style="color: red;">Não provido</b>' :
                              `${customer.email}` %>
                          </p>
                        </div>

                        <div class="col-md-3">
                          <b>Celular</b>
                          <p>
                            <%-customer.celular==='' ? '<b style="color: red;">Não provido</b>' : `${customer.celular}`
                              %>
                          </p>
                        </div>

                        <div class="col-md-3">
                          <b>Observações</b>
                          <p>
                            <%-customer.obs==='' ? '<b style="color: red;">Não provido</b>' : `${customer.obs}` %>
                          </p>
                        </div>

                        <% if(customer.endCompleto) { %>
                          <div class="col-md-3">
                            <b>Endereço Completo (legado)</b>
                            <p>
                              <%-customer.endCompleto==='' ? '<b style="color: red;">Não provido</b>' :
                                `${customer.endCompleto}` %>
                            </p>
                          </div>
                          <% } %>

                            <% if(customer.street) { %>
                              <div class="col-md-3">
                                <b>Endereço Completo</b>
                                <p>
                                  <%= `${customer.street}, ${customer.neighborhood}, ${customer.number},
                                    ${customer.complement} - ${customer.city}, ${customer.state}` %>
                                </p>
                              </div>
                              <% } %>

                      </div>
                    </div>
                  </div>
                </div>
                <% } else {%>
                  <div class="container-fluid">
                    <h1 class="h3 mb-2 text-gray-800">Propriedades de <%= customer.nomeFantasia %>
                    </h1>
                    <p class="mb-4">Visualização de dados, para editar retorne a página principal de
                      clientes.</p>
                    <div class="card shadow mb-4">
                      <div class="card-body">
                        <h1 class="h3 mb-2 text-gray-800">Dados do Cliente
                        </h1>
                        <div class="row gx-3 mb-3">
                          <div class="col-md-3">
                            <b>Nome Fantasia</b>
                            <p>
                              <%-customer.nomeFantasia==='' ? '<b style="color: red;">Não provido</b>' :
                                `${customer.nomeFantasia}` %>
                            </p>
                          </div>
                          <div class="col-md-3">
                            <b>CNPJ</b>
                            <p>
                              <%-customer.cnpj==='' ? '<b style="color: red;">Não provido</b>' : `${customer.cnpj}` %>
                            </p>
                          </div>

                          <div class="col-md-3">
                            <b>Data de Abertura</b>
                            <p>
                              <% if(!customer.abertura || customer.abertura==='' ) { %>
                                <b style="color: red;">Não provido</b>
                                <% } else { %>
                                  <%=customer.abertura.split('-')[2]%>/<%=customer.abertura.split('-')[1]%>/<%=customer.abertura.split('-')[0]%>
                                        <%}%>
                            </p>
                          </div>




                          <div class="col-md-3">
                            <b>E-mail</b>
                            <p>
                              <%-!customer.email || customer.email==='' ? '<b style="color: red;">Não provido</b>' :
                                `${customer.email}` %>
                            </p>
                          </div>

                          <div class="col-md-3">
                            <b>Celular</b>
                            <p>
                              <%- !customer.celular || customer.celular==='' ? '<b style="color: red;">Não provido</b>'
                                : `${customer.celular}` %>
                            </p>
                          </div>
                          <div class="col-md-3">
                            <b>Endereço Completo (legado)</b>
                            <p>
                              <%-customer.endCompleto==='' ? '<b style="color: red;">Não provido</b>' :
                                `${customer.endCompleto}` %>
                            </p>
                          </div>

                          <div class="col-md-3">
                            <b>Observações</b>
                            <p>
                              <%-customer.obs==='' ? '<b style="color: red;">Não provido</b>' : `${customer.obs}` %>
                            </p>
                          </div>

                          <% if(customer.street) { %>
                            <div class="col-md-3">
                              <b>Endereço Completo</b>
                              <p>
                                <%= `${customer.street}, ${customer.neighborhood}, ${customer.number},
                                  ${customer.complement} - ${customer.city}, ${customer.state}` %>
                              </p>
                            </div>
                            <% } %>

                              <div class="col-md-3">
                                <b>Atividade</b>
                                <p>
                                  <%-!customer.atividade || customer.atividade===''
                                    ? '<b style="color: red;">Não provido</b>' : `${customer.atividade}` %>
                                </p>
                              </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% } %>
                  <div class="container-fluid">
                    <div class="card shadow mb-4">
                      <div class="card-body">
                        <h1 class="h3 mb-4 text-gray-800 d-flex justify-content-between align-items-center">
                          Documentos
                          <a href="#" data-toggle="modal" data-target="#addPhoto" class="btn btn-info btn-circle">
                            <i class="fas fa-plus"></i>
                          </a>
                        </h1>
                        <div class="row gx-3">
                          <% if (photos && photos.length !== 0) { %>
                            <div class="col-12">
                              <div class="list-group">
                                <% photos.forEach((photo, index) => { %>
                                  <div class="list-group-item d-flex justify-content-between align-items-center">
                                    <a target="_blank" href="<%= photo.data.url %>">
                                      <%= photo.data.path.split("/")[6] %> - (<%= index + 1 %>)
                                    </a>
                                    <button class="btn btn-danger btn-sm" onclick="deleteDocument('<%= photo.data.path %>')">
                                      <i class="fas fa-trash-alt"></i> Apagar
                                    </button>
                                  </div>
                                <% }) %>
                              </div>
                            </div>
                          <% } else { %>
                            <div class="col-12">
                              <div class="alert alert-warning" role="alert">
                                <b>Sem documentos!</b> Clique no <i class="fas fa-plus"></i> e adicione quantos documentos quiser.
                              </div>
                            </div>
                          <% } %>
                        </div>
                      </div>
                    </div>
                  </div>
                  
          </div>
          <%- include("../../partials/footer.ejs") %>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <%- include("./components/modal/addPhoto.ejs") %>
      <%- include("../components/modal/logout.ejs") %>
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/vendor/slick-master/slick/slick.js"></script>
        <script src="/js/sb-admin-2.min.js"></script>

        <script>
          function deleteDocument(key) {
            axios.delete(`/dashboard/clientes/deletedoc?path=${key}`).then(r => {
              if(r.status === 200) {
                alert("Arquivo deletado!")
                location.reload()
              }
            })
          }
        </script>
  </body>

  </html>