<%- include("../../../partials/head.ejs") %>

<body id="page-top">
  <div id="wrapper">
    <%- include("../../../partials/sidebar.ejs") %>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <%- include("../../../partials/topbar.ejs") %>
        <div class="container-fluid">
          <h1 class="h3 mb-2 text-gray-800">Sistema Refusol</h1>
          <p class="mb-4">Adicione seu token, acione o módulo e gerencie.</p>

          
          <h1>EM DESENVOLVIMENTO</h1>
      </div>
    </div>
    <%- include("../../../partials/footer.ejs") %>
  </div>
  </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <%- include("../../components/modal/logout.ejs") %>
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/js/sb-admin-2.min.js"></script>
</body>

</html>