<%- include("../../partials/head.ejs") %>

    <body id="page-top">
        <div id="wrapper">
            <%- include("../../partials/sidebar.ejs") %>
                <div id="content-wrapper" class="d-flex flex-column">
                    <div id="content">
                        <%- include("../../partials/topbar.ejs") %>
                            <div class="container-fluid">
                                <h1 class="h3 mb-2 text-gray-800">Chamados de cliente</h1>
                                <p class="mb-4">Chamados são solicitações de clientes, pode ser tanto para vistoria
                                    quanto algum defeito ou emergência.</p>
                                <%- surveys.length===0 ? '<b>Sem chamados</b>' : '' %>
                                    <% surveys.forEach(i=> { %>
                                        <% if(i.finished) return; %>
                                            <div
                                                class="card border-left-<%=!i.aceppted ? 'danger' : 'primary'%> shadow h-100 py-2">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div
                                                                class="text-xs font-weight-bold text-<%=!i.aceppted ? 'danger' : 'primary'%> text-uppercase mb-1">
                                                                <%=!i.aceppted ? 'Chamado pendente'
                                                                    : 'Chamado em execução' %>
                                                            </div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                                <p>
                                                                    <%= i.status %>
                                                                </p>
                                                                <small>
                                                                    <%= i.text %>
                                                                </small>
                                                                <br><br>
                                                                <a href="/dashboard/projetos/visualizar/<%=i.ids.projectId%>"
                                                                    class="btn btn-info btn-icon-split">
                                                                    <span class="icon text-white-50">
                                                                        <i class="fas fa-info-circle"></i>
                                                                    </span>
                                                                    <span class="text">Ver projeto</span>
                                                                </a>
                                                                <a href="#" class="btn btn-primary btn-icon-split">
                                                                    <span class="icon text-white-50">
                                                                        <i class="fas fa-flag"></i>
                                                                    </span>
                                                                    <span class="text">Responder</span>
                                                                </a>
                                                                <p></p>
                                                                <form
                                                                    action="/dashboard/chamados?type=concludeCall&id=<%=i.ids.projectId%>"
                                                                    method="post">
                                                                    <!--<input name="projectId" value="<%=i.ids.projectId%>" />-->
                                                                    <button class="btn btn-success btn-icon-split"
                                                                        type="submit"><span class="icon text-white-50">
                                                                            <i class="fas fa-check"></i>
                                                                        </span>
                                                                        <span class="text">Concluído</span>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-exclamation fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                    <small>Data do chamado: <%= i.createdAt %></small>
                                                </div>
                                            </div>
                                            <% })%>
                                                <% surveys.forEach(i=> { %>
                                                    <% if(!i.finished) return; %>
                                                        <h1 class="h3 mb-2 text-gray-800">Chamados de cliente
                                                            finalizados</h1>
                                                        <div class="card border-left-success shadow h-100 py-2">
                                                            <div class="card-body">
                                                                <div class="row no-gutters align-items-center">
                                                                    <div class="col mr-2">
                                                                        <div
                                                                            class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                                            Chamado finalizado
                                                                        </div>
                                                                        <div
                                                                            class="h5 mb-0 font-weight-bold text-gray-800">
                                                                            <small>
                                                                                <%= i.text %>
                                                                            </small>
                                                                            <br><br>
                                                                            <a href="/dashboard/projetos/visualizar/<%=i.ids.projectId%>"
                                                                                class="btn btn-info btn-icon-split">
                                                                                <span class="icon text-white-50">
                                                                                    <i class="fas fa-info-circle"></i>
                                                                                </span>
                                                                                <span class="text">Ver projeto</span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <i
                                                                            class="fas fa-exclamation fa-2x text-gray-300"></i>
                                                                    </div>
                                                                </div>
                                                                <small>Data do chamado: <%= i.createdAt %></small>
                                                            </div>
                                                        </div>
                                                        <% })%>
                            </div>
                    </div>
                    <%- include("../../partials/footer.ejs") %>
                </div>
        </div>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <%- include("../components/modal/logout.ejs") %>
            <script src="/vendor/jquery/jquery.min.js"></script>
            <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
            <script src="/js/sb-admin-2.min.js"></script>
    </body>

    </html>